// asset
@import "assets/datepicker";
@import "assets/fonts";
@import "assets/front-generals";
@import "assets/variables";

// partials
@import "pages/join";
@import "pages/home";
@import "pages/investors";
@import "pages/legalities";

// pages
@import "pages/support";

#footer{
	text-align: center;
	padding: 40px 0;
	background:#127E85;
	color: #fff;
	a{
		margin: 0 15px;
		color: #fff;
		display: inline-block;
	}
}

@import "assets/front-responsive";