#library{	
	text-align: center;
	#menu{
		background: #fff;
		text-align: center;
		width: 840px;
		margin: auto;
		border: 1px solid #ccc;
		display: inline-block;
		@include border-radius(8px);
		> ul {
			> li {
				> a {
					font-size: 14px;
					text-align: center;
					padding: 15px 36px;
					border-left: 1px solid #ddd;
				}
				&:first-child{
					> a{
						border-left: none;
					}
				}
			}	
		}
		
	}
	.contents{
		width: 100%;
		margin: 20px auto;
		text-align: center;
		.item{
			display: inline-block;
			margin: 10px;
			position: relative;
			background-color:transparent;
			a{
				position: absolute;
				width:100%;
				transition:all 0.2s linear;
				height: 100%;
				background-color: transparent;
				&:hover{
					background-color: rgba(128,0,0,0.8);

				}
			}
			.favorite{
				position: absolute;
				width: 25px;
				height: 60px;
				background: rgba(255,165,0,0.9) ;
				right: 0;
				text-align: center;
				color: #fff;
			}
		}	
	}	
}
#product_detail_modal{
	.product-image{
		float: left;
		margin-right: 10px;
	}
	.product-description{
		text-align: left;
		h3{
			margin-top: 0;
			margin-bottom: 20px;
		}
		p{
			line-height: 1.7;
			margin-bottom: 20px;
		}
	}
}
#category_submodal .modal-body{
	text-align: left;
}

#quotes_modal{
	.modal-dialog{
		max-width: 90%;
		width: auto;
	}
}