#jobs{
	text-align: center;
	.panel-group{
		max-width: 800px;
		margin: auto;
		ul{
			padding-left: 0; 
		}
		li{
			text-align: left;
			list-style: none;
			padding: 10px;
			border-bottom: 1px solid #eee;
		}
	}
	.panel-title{
		text-align: left;
	}
}
#job_detail_modal{
	.modal-body {
		text-align: left;
	}
}