#geneology{
	position: relative;
	overflow: hidden;
	height: 1000px;
	#geneology-mode{
		@include border-radius(10px);
		overflow: hidden;
	}
	#graphical{
		top: 20px;
		position: relative;
		#graphical-data{
			z-index: 1;
			position: relative;
			width: 900px;
			float: left;
			.user{
				@include border-radius(50%);
				cursor:pointer;
				height: 125px;
				width:125px;
				margin: auto;
				background: #B7B7B7;
				transition:all 0.2s linear;
				overflow: hidden;			
				display: inline-block;					
				border: 6px solid transparent;	
				position: relative;
				> img{
					width: 100%;
					height: 100%;
				}
				> a{
					position: absolute;
					width: 100%;
					height: 100%;
				}
				&.referral-direct{
					border-color:#00a8ff;
				}
				&.referral-indirect{
					border-color:#FF9600;					
				}
				&:hover{
					border-color:#fff;
					position: inherit;
					.popup-control{
						z-index: 3;
						opacity: 1;
						margin-left: -90px;
						left: auto;
						top: 10px;
						background: #fff;
						padding: 10px;
						font-size: 12px;
						text-align: center;
					}
					.premier-filter{
						opacity: 0;
					}
					i{
						display: none;						
					}
				}
				&.blank {
					cursor: default;
					&:hover{
						*{
							display: none !important;
						}
					}
					.sprite{
						background: none;
					}
				}
				i{
					position: absolute;
					top: 0;
					left: 0;
				}
				.premier-filter {
					background: rgba(19,71,139,0.6);
					height: 114px;
					width:114px;
					margin: auto;
					position: relative;
					display: block;
					z-index: 2;
					top: -18px;
					transition:all 0.2s linear;
					left: -4px;
					@include border-radius(50%);
				}
				.basic-filter{
					background: rgba(110,165,36, 0.6);
					height: 114px;
					width:114px;
					margin: auto;
					position: relative;
					display: block;
					z-index: 2;
					top: 0;
					transition:all 0.2s linear;
					left: 0px;
					@include border-radius(50%);
				}
				.silver-filter{
					background: rgba(255,255,255, 0.6);
					height: 114px;
					width:114px;
					margin: auto;
					position: relative;
					display: block;
					z-index: 2;
					top: 0;
					transition:all 0.2s linear;
					left: 0;
					@include border-radius(50%);
				}
				.gold-filter{
					background: rgba(227,182,13, 0.6);
					height: 114px;
					width:114px;
					margin: auto;
					position: relative;
					display: block;
					z-index: 2;
					top: 0;
					transition:all 0.2s linear;
					left: 0;
					@include border-radius(50%);
				}
				.diamond-filter{
					background: rgba(8, 160, 210, 0.6);
					height: 114px;
					width:114px;
					margin: auto;
					position: relative;
					display: block;
					z-index: 2;
					top: 0;
					transition:all 0.2s linear;
					left: 0;
					@include border-radius(50%);
				}
				.admin-filter{
					background: rgba(255, 165, 0, 0.6);
					height: 114px;
					width:114px;
					margin: auto;
					position: relative;
					display: block;
					z-index: 2;
					top: 0;
					transition:all 0.2s linear;
					left: -4px;
					@include border-radius(50%);
				}
				._01-filter{
					background: rgba(128, 0, 128, 0.6);
					height: 114px;
					width:114px;
					margin: auto;
					position: relative;
					display: block;
					z-index: 2;
					top: 0;
					transition:all 0.2s linear;
					left: -4px;
					@include border-radius(50%);
				}
				.sprite{
					vertical-align: bottom;
					left: 0px;
					bottom: -20px;
					position: relative;
					overflow: visible;
				}
				.popup-control{
					z-index: -1;
					transition:none;
					opacity: 0;
					position: absolute;
					left: -30px;
					text-align: right;
					top: 0;
					a{
						display: block;
						margin: 10px 0;
					}
					*{
						transition:none;
					}
				}
				.avatar-default-sm .premier-filter{
					width: 73px;
					height: 73px;
					top: -20px;
				}
			}
			.stage{
				text-align: center;
				.left, .right{
					display: inline-block;
					margin: 30px 0px;
				}
				.connector{
					width: 100%;
					.unhealthy span{
						// border-color: red; for future version
					}
					.healthy span{
						// border-color: blue; for future version
					}
					.left, .right{
						margin: 0;
						padding: 30px 0px;
					}
					span{
						position: absolute;
					}
					.l1, .l3{
						width:1px;
						border-left: 1px solid #cecece;
						top: 0;						
					}
					.l2{
						height: 1px;
						border-top:1px solid #cecece;
					}
				}
				&.stage-1{
					> .user{
						border-color:#88c7ff;		
						i{
							span {
								top: 0 !important;
								left: 0 !important;
							}
						}				
					}					
					.connector{
						position: absolute;
						.left{
							position: relative;
							.l1{
								height: 20px;	
								right: 0;							
							}
							.l2{
								width:210px;	
								top: 20px;
								right: 0;							
							}
							.l3{
								height: 10px;
								right: 210px;
								top: 20px;
							}
						}
						.right{
							position: relative;
							.l1{
								height: 20px;	
								left: 0;							
							}
							.l2{
								width:210px;	
								top: 20px;
								left: 0;							
							}
							.l3{
								height: 10px;
								left: 210px;
								top: 20px;
							}
						}
					}
				}
				&.stage-2{
					color: red;
					> .left{
						> .user{
							> i{
								> span{
									top: 1px;
									left: 0px;
								}
							}
						}
					}
					> .right {
						> .user{
							> i{
								> span{
									top: 0px;
									left: 0px;
								}
							}
						}
					}
					.popup-control{
						top: 170px;
					}
					.connector{
						position: absolute;
						margin-left: -240px;
						.left{
							position: relative;
							.l1{
								height: 11px;	
								right: 0;							
							}
							.l2{
								width: 100px;
								top: 10px;
								right: 0;							
							}
							.l3{
								height: 20px;
								right: 100px;
								top: 10px;
							}
						}
						.right{
							position: relative;
							.l1{
								height: 11px;	
								left: 0;							
							}
							.l2{
								width: 100px;
								top: 10px;
								left: 0;							
							}
							.l3{
								height: 20px;
								left: 100px;
								top: 10px;
							}
						}
					}
				}
				&.stage-3{
					img{
						// display: none;
					}
					i{
						span{
							width: 74px !important;
							height: 74px !important;
						}
					}
					.avatar-default-sm{
						display: block !important;
						margin-top: 10px;
						margin-left: 5px;
						span{
							top: -10px;
							left: -5px;
						}		
					}
					a.link{
						width: 65px;
						height: 69px;
						z-index: 3;
						margin-left: 0px;
					}

					.user{
						position: relative;
						width:84px;
						height: 84px;
						&:hover{
							position: static;
						}
					}
					.left, .right{
						position: relative;
						margin: 30px 0px;
					}
					.premier-filter{
						top: 0px;
						left: 0px;
					}
					.popup-control{
						top: 0px;
						left: -30px;
						margin-left: 0;
					}
					.connector{
						position: absolute;
						margin-left: 0;
						.left{
							margin: 0;
							position: relative;
							.l1{
								height: 11px;	
								right: 0;							
							}
							.l2{
								width: 50px;
								top: 10px;
								right: 0;							
							}
							.l3{
								height: 20px;
								right: 50px;
								top: 10px;
							}
						}
						.right{
							margin: 0;
							position: relative;
							.l1{
								height: 11px;	
								left: 0;							
							}
							.l2{
								width: 50px;
								top: 10px;
								left: 0;							
							}
							.l3{
								height: 20px;
								left: 50px;
								top: 10px;
							}
						}
					}
				}
				&.stage-4{
					.left, .right{
						margin: 30px 10px;
					}
					.popup-control{
						left: 77px;
						margin-left: 0;
					}
					a.link{
						left: 0px;
					}
				}
			}
		}	
		#legend{
			color: #fff;
			background: rgba(247,0,66,0.5);
			@include border-radius(5px);
			padding: 15px 20px;
			position: absolute;
			right: 0;
			font-size: 14px;
			z-index: 2;
			.sprite{
				position: absolute;
				left: -20px;
			}
			strong{
				text-transform: uppercase;
				font-size: 15px;
			}
			li{
				list-style: none;
				position: relative;
				padding: 6px;
				span{
					width:20px;
					height: 20px;
					@include border-radius(50%);
					left: -20px;
					position: absolute;	
					border: 3px solid #fff;	
				}
			}
			ul{
				margin-left: 20px;
				margin-bottom: 0;
				padding-left: 0;
			}
			.basic span{
				background: rgba(110,165,36, 0.6);						
			}
			.premier span{
				background: rgba(19,71,139,0.6);						
			}
			.silver span{
				background: rgba(255,255,255, 0.6);
			}
			.gold span{
				background: rgba(227,182,13, 0.6);
			}
			.diamond span{
				background: rgba(8, 160, 210, 0.6);
			}
			.direct span{
				border-color:#00a8ff;
				background: transparent;
			}
			.indirect span{
				border-color:#FF9600;
				background: transparent;
			}
		}
	}
	#textual{
		top:100px;
		.buttons{
			margin-bottom: 20px;
		}
		#textual-data{
			@include border-radius(5px);
			font-size: 13px;
			border: 1px solid #ccc;
			background: #fff;
		}
		.acc-type{
			@include border-radius(50%);
			width: 20px;
			height: 20px;
			border: 3px solid #fff;
			display: block;
			&.basic{
				background: rgba(110, 165, 36, 0.6);
			}
			&.premier {
				background: rgba(19,71,139,0.6);						
			}
			&.silver {
				background: rgba(255,255,255, 0.6);
				border-color: #999;
			}
			&.gold {
				background: rgba(227,182,13, 0.6);
			}
		}
	}
}


// Effects

#geneology{
	*{transition:all 0.7s linear;}
	#graphical{
		opacity: 0;
		width: 100%;
		top: 20px;	
		left: -110%;	
		&.active{
			opacity:1;
			left: 0%;	
		}
	}
	#textual{
		position: absolute;
		opacity: 0;
		width: 98%;
		right: -100%;
		&.active{
			opacity:1;
			right: 0%;
		}
	}
}