#messages{
	ul{
		position: relative;
		height: 42px;
	}
	#btn-compose-message{
		position: absolute;
		right: 0;
		top: 0;
	}
	#compose_message_modal{
		.modal-dialog{
			width:350px;
		}
	}
	.new, .new *{
		background-color: bisque;
	}
}