#ewallet{
	margin-top:30px;
	line-height: 1.7;
	h1, h2, h3, h4{margin-top: 0; margin-bottom: 20px;}
	.content{
		background: #fff;
		padding: 20px;
		.row{
			text-align: center;
			a {
				padding: 20px;
				width:150px;
				.fa{
					font-size: 40px;
					margin-bottom: 20px;
					display: block;
				}
			}
		}
	}
	.side{
		padding: 20px;
		position: relative;
		.section{
			font-size: 13px;
		}
	}
	#top{
		.content{
			
		}
		.side{
			text-align: center;
			@include border-radius(10px);	
			top: -20px;
			background: #ccc;
			.row{				
				.value{font-size: 30px; font-weight: bold;}				
			}
		}
	}
	#transact-form{
		width:400px;
		position: relative;
		height: 400px;
		overflow: hidden;
		.tform{
			position: absolute;
			top: 0;
			background: #fff;
			width:100%;		
			opacity: 0;	
			z-index: 1;
			transition:all 0.3s linear;
			padding: 20px;
			&#step1{
				opacity:0;
				z-index: 1;
				top:100px;				
				&.active{
					opacity: 1;
					z-index: 2;	
					top: 0;								
				}
				.btn{
					display: block;
					text-align: left;
					margin: 20px;
					@include font-header();
					.fa{
						width:30px;
						text-align: center;
						margin-right: 20px;
					}
				}
			}
			&#step2-a{
				top:-100px;
				&.active{
					opacity: 1;
					top: 0;
					z-index: 2;
				}
			}
			&#step2-b{
				left:-100px;
				&.active{
					opacity: 1;
					left: 0;
					z-index: 2;
				}
			}
			&#step2-c{
				right:-100px;
				&.active{
					opacity: 1;
					right: 0;
					z-index: 2;
				}
			}
		}
	}
	#balance-summary{
		width:400px;
	}
}
#ewallet_widthraw,
#ewallet_upgrade,
#ewallet_add_account{
	.modal-body{
		text-align: left;
	}
}