/* .fp-table,.fp-tableCell{
	height: inherit !important;
}
#section1{
	min-height: 1000px;
} */

.hero-full{
	overflow: hidden;
	min-height: 600px;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	.filter{
		position: absolute;
		height: 100%;
		width: 100%;	
		min-height: 600px;
		left: 0;	
		top: 0;
		z-index: 1;
		background-color: transparent;
		transition:all 0.2s linear;
	}
	.container{
		position: relative;
		transition:all 0.2s linear;
		z-index: 2;
		width: 1100px;
		img, h1, .sub-heading{opacity: 0;}		
		button{
			background-color: #2980b9;
		}
	}

	video{
		width:100%;
		position: absolute;
		left: 0;
	}
	&.has-skin{
		overflow: visible;
		video{opacity: 0;}
	}
	&.focus{

		.filter{
			background: rgba(19,126,134,0.7);
			
		}
		.container{
			img, h1, .sub-heading{
				opacity: 1;	
			}
			button{
				background-color: transparent;
			}			
		}
	}
	#btn-navtoggle{display: none;}
}
#about-us{
	#founders{
		width:900px;
		text-align: center;
		margin: 30px auto;
		.author h3, .author h4, .author p {
			text-align: left !important;
			padding: 0 !important;
			
		}
		.author{
			margin-bottom: 90px;
			h4{
				font-style: italic;
				font-size: 15px;
				margin-bottom: 20px;

			}
			h3{
				margin-top: 0;
			}
			.right {
				h3, h4, p{
					text-align: right !important;
					
				}
			}
			p{
				font-size: 14px !important;
			}
			*{
				color: #fff;
			}
		}
		img{
			width:80%;
			border: 5px solid #fff;
			@include border-radius(10px);
		}
	}
	#mission_vision{
		text-align: justify;
		width: 1000px;
		margin: auto;
		*{
			list-style: none;
			padding: 10px;
			color: #fff;
			text-align: left;
		}
		li{
			padding: 0;
			margin: 10px 0px;
			font-size: 16px;
		}
	}
}
#service{
	text-align: center;
	.fa{
		font-size: 100px;
	}
}
.hero-full{
	h1{
		margin-top: -25px;
	}
	img.img-circle{
		height: 290px;
		margin-top: -200px;
		margin-bottom: -8px;
	}
	#menu{
		display: none;
		padding: 0px;

		li{
			list-style: none;
			display: inline-block;
		}
		img{
			display:none;
		}
		&.has-skin{
			-webkit-transition: background-color 300ms ease-out 0.1s;
		    -moz-transition: background-color 300ms ease-out 0.1s;
		    -o-transition: background-color 300ms ease-out 0.1s;
		    transition: background-color 300ms ease-out 0.1s;

			background: rgba(225,225,225,0.9);
			position: fixed !important;
			top: 0px !important;
			margin: 0px;
			z-index: 100;

			li{
				padding: 20px 10px;
			}
			a{
				color: #000;
				font-size: 17px;
				padding: 20px 10px;
				text-shadow:none;
			}
			img{
				display: block;
				max-width: 75px;
				position: absolute;
				left: 0px;
				margin-left: 10px;
			}
		}
	}
	#btn_get-started,.menu{
		position: absolute !important;
		top: 50% !important;
		margin-top: 235px;
	}
	#btn_get-started{
		margin-left: -105px;
	}
	.btn{
		font-size: 16px;
		background: transparent;
		color: #fff;
		border: 2px solid #fff;
		margin: 0px 10px;
	}
	.menu{
		left: 0px;
		right: 0px;
		margin-left: 0px;
	}	
}
.block:not(.hero-full){
	h1{
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
	&.about-us, &.opportunity, &.investor, &.support, &.product{
		padding: 70px 0px;

		p{
			text-align: center;
			font-size: 18px !important;
		}
	}
	&.about-us{
		background: #2980b9;
		position: relative;
		p,h1{color: #fff;}
		p{
			line-height: 26px;
			/* color: #2e3644; */
		}
	}
	&.product{
		.row{
			padding: 20px 0px;
			margin-bottom: 20px;
		}
		.col-md-12{
			text-align: center;	
		}
		.col-md-6{
			text-align: left;

			p,img{margin: 0px 35px; font-size: 16px !important;}

			&:nth-child(2n+1){
				text-align:right;

				p{padding-right:0px;}
			}	
		}	
	}
	&.service{
		padding: 20px 0px 50px;
		background: #3498db;

		p,h1,h4{color: #fff;}

		h1{
			margin: 70px 0px;
		}
		h4{
			font-weight: bold;
		}
		img{
			/* width: 185px;
			height: 180px; */
			max-width: 125px;
		}
		p{
			font-size: 16px;
		}
		.wrap{
			max-width: 295px;
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}
	}
	/* WIDE DESKTOP */
	@media only screen and (min-width: 1200px) {
		&.about-us{
			p{
				padding: 0px 100px;
			}
		}
		&.product{
			.row{
				display: table;
			}
			.col-md-6{
				display: table-cell;
				float: none;
				vertical-align: middle;

				p{padding-right: 20%; text-align:left;}

				&:nth-child(2n+1){
					p{padding-left: 20%; text-align:right;}
				}	
			}
		}	
	}
}
#member_login{
	.modal-dialog{
		width: 415px;
	}
	.modal-content{
		border-radius: 0px;
	}
}

// CROSS BROWSING
.firefox{
	
	.hero-full img.img-circle{
		margin-top: 0;
	}
}

@media (max-width: 640px) { 
	#homepage.hero-full{
		// min-height: initial;
		min-height: 600px;
		#btn_get-started{
			margin-top: 130px;
		}
		&.locked{
			.sub-heading{opacity: 0 !important;}
		}
	}
	
	
	#about-us {
		#mission_vision{
			width: 100%;
		}
		#founders{
			width: 100%;
			.author, .author .right{
				img{
					margin: auto;
				}
				h3, h4, p{
					text-align: center !important;
				}
			}
		}
	}
	#product img {
		max-width: 100%;
		margin: 20px auto;
	}

}