#investors{
	margin-top: 100px;
	.container{
		width:1000px;
	}
	.row{
		img{
			height: 250px;
			width:250px;
			border: 10px solid #fff;
			@include border-radius(50%);
		}
		.investor{
			text-align: center;
			margin-bottom: 100px;
		}
	}
	.hero-full{
		height: 0px !important;
		min-height: initial;
	}
}


@media (max-width: 640px) { 
	#investors{
		.container{
			width: auto;
		}
	}
}