.join-containers{
	position: relative;
	text-align: center;
	width:993px;
	margin: 30px auto 20px;
	padding-bottom: 30px;
	.backbutton{
		text-align: left;
	}
	.monitor{
		position: relative;
		background: url(../img/laptop.png) no-repeat center top;
		background-size: 93%;
		width:993px;
		height: 572px;
		margin: auto;
		img, iframe{
			position: relative;
			top: 41px;
			width: 574px;
			height: 352px;
		}
		.shadow{
			background: url(../img/laptop-shine.png) no-repeat;
			position: absolute;
			top: 4px;
			right: 140px;
			width:256px;
			height: 452px;
			z-index: 2;
			background-size: 90%;
		}
	}
	.btn-primary{
		@include border-radius(10px);

		font-size: 36px;
		color: #fff;
		height: 95px;
		width:520px;
		transition:all 0.1s linear;
		background-color: #00cdda;
		box-shadow: inset 0px -10px 0px rgba(0,0,0,0.2);
		position: absolute;
		bottom: 0px;
		font-weight: bold;
		left: 50%;
		margin-left: -260px;
		&:hover{
			box-shadow: none;
			height: 85px;
		}
	}	
	video{
		height: 451px;
	}
}
#join-step-2{
	.buttons{
		position: absolute;
		left: 0;
		margin-top: 77px;
		z-index: 3;
		.btn{
			@include border-radius(50%);
			margin: 10px;
			height: 100px;
			width:100px;
			display: block;			
			border:5px solid;
			box-shadow: inset 5px -5px 21px rgba(0,0,0,0.5);
			border-top-color: #fff;
			border-right-color: #fff;
			border-left-color: #ddd;
			border-bottom-color: #ddd;
			transition:all 0.2s linear;
			.fa{
				display: block;
				font-size: 39px;
				margin-top: 16px;
			}
			&.active{
				border-color: rgba(255,255,255,0.5);
				box-shadow: none;
			}
			&#btn-basic{ background-color: #6ea524; }
			&#btn-premier{ background-color: #137e86; }
			&#btn-investor{ background-color: #e3b60d; }
			&#btn-join{ background-color: #08a0d2; }
			&:hover{
				background-color: #efefef !important; 
				box-shadow: none;
				border-color: #aaa;
				color: #aaa;
			}
		}
	}
}

#join-step-3{
	text-align: center;
	.form1{
		position: relative;
		text-align: left;
		width: 400px;
		margin: auto;
		padding-bottom: 60px;
		.has-error{
			color: red;
			label{
				small{
					position: absolute;
					right: 0;
				}
			}
		}
		.btn-primary{
			left: initial;
			margin: 0;
			width:100%;
			font-size: 27px;
			text-transform: uppercase;
			letter-spacing: 2px;
			height: 66px;
			padding-top: 0;
			&:hover{
				@include btnjoin_hover(66);
			}
		}
	}	
}


// effects
#join-wrapper{
	position: relative;
	max-width: 1000px;
	width:100%;
	height: 800px;
	margin: auto;
	text-align: center;
	overflow: hidden;	
}
.join-containers{
	opacity: 0;
	z-index: -1;
	position: absolute;
	transition:all 0.5s linear;
	left: 50%;
	&.active{
		z-index: 1;
		opacity: 1;
	}
	&.inactive{
		opacity:0;
		z-index: -1;
	}
}
#join-step-1{
	margin-left: -496px;
	opacity: 0;
	&.active{
		top: 0px;
		opacity: 1;
	}
}
#join-step-2{
	left: initial;
	margin-top:5px;
	h2{
		font-size: 19px;
	}
	&.active{
		position: relative;
	}
	&.inactive{
	}
}
#join-step-3{
	top: 200px;	
	left: 0;
	&.active{
		top: 100px;
		left: 0;
		position: relative;
		padding-bottom: 200px;
	}
	&.inactive{
		left:-100px;
		top:0;
	}
}