#legalities{

	margin-top:60px;
	margin-bottom: 50px;
	text-align: center;
	.hero-full{
		height: 0px !important;
		min-height: initial;
		margin-bottom: 50px;
	}
}


@media (max-width: 640px) { 
	#legalities{
		img{
		}
	}
}