html, body{height: 100%;}
.main{
	padding: 20px;
	margin-left: 250px;
	min-height: 400px;
}
input[type="number"].form-control{padding-top: 0 !important;
padding-bottom: 0 !important;}
body{
	background: #eee url(../img/bg.jpg);
	font-family:'Lato', sans-serif;
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
}
hr{
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
}
form{
	overflow: hidden;

	label{
		font-size: 16px;
	}
	.btn{
		font-weight: 700;
	}
	@media (min-width: 768px){
		.col-sm-2 {
			width: 10.666667%;
		}
	}	
}
input,textarea {
    -webkit-font-smoothing: antialiased;
    width:100%;	
	
	&.form-control{
		border-color:#dcdcdc;
		position: relative;
		z-index: 1;
		border: 1px solid #aaa;
		padding: 10px !important;
		font-size: 17px;
	}
}
.btn-toggle{
	float: left;
	background: #cfcfcf;
	width:220px;
	height: 50px;
	font-size: 19px;
	color:#333;
	&.active{
		background: #fff;
		position: relative;
		&:first-child{
			&:after{
				content:' ';
				background: url(../img/button-shadow.png) no-repeat;
				width:11px;
				height: 50px;
				position: absolute;
				right: -11px;
				top: 0;
			}
		}
		&:last-child{
			&:before{
				content:' ';
				-ms-transform: rotate(7deg); /* IE 9 */
			    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
			    transform: rotate(180deg);
				background: url(../img/button-shadow.png) no-repeat;
				width:11px;
				height: 50px;
				position: absolute;
				left: -11px;
				top: 0;
			}
		}
	}
	&:hover{
		text-decoration: none;
	}
	.fa{
		margin-right: 12px;
	}
}

.bg2{
  background-color: #1abc9c;
  display: block;
}
.modal-backdrop.in{opacity: .7;}
.modal{display:none;}
#loader_modal .modal-dialog {
  width: 70px;
  height: 100%;
}
#loader_modal .modal-dialog img {
	opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}
.tobehind{z-index: 10;}

input.disabled,
select.disabled,
textarea.disabled{
	background: #EEEEEE;
	cursor: not-allowed;
}

.modal-body{
	text-align: center;
	font-size: 14px;
	line-height: 1.4;
	margin: 10px auto 40px;
	*{
		max-width: 98%;
	}
}