@media (max-width: 1040px) { 
	#header{
		#branding{
			width:200px;
			.shadow{
				width:200px;
				background-position: center;
			}
		}
	}
	#sidebar{
		width:200px;
		.extension{
			width:200px;
		}
		li{
			a{
				padding-left:0px;
				padding-right:0px;
			}
			.badge{
				right:10px;
			}
		}
	}
	.main{
		margin-left: 200px;
	}
}

@media (max-width: 940px) {
	#header #branding{
		display: none;
	}
}

@media (max-width: 750px) {
	#header{height:50px;}
	#header #headings{display: none;}	
	#header .pull-right #btn-logout{position: absolute;left: 0;margin-left: 0;width: 40px;font-size: 20px; color: #fff;}
	#header .pull-right{width: auto;margin-right: 5px;}
	#header .pull-right #avatar{width: 45px;height: 45px;}
	#sidebar, #sidebar .extension{width:40px;}
	#sidebar li span{display: none;}
	#sidebar li a .fa{margin: 0; width: 100%;}

	.main{
		margin-left: 40px;
		margin-top: 0px !important;
	}

	#dashboard{
		text-align: center;
	}
}