html, body{height: 100% !important; /* overflow:inherit !important; */}
body{
	background: #eee url(../img/bg.jpg);
	font-family:'Lato', sans-serif;
	min-height: 100%;
	width: 100%;
	position: relative;
	-webkit-font-smoothing: subpixel-antialiased;
}
.btn-toggle{
	float: left;
	background: #cfcfcf;
	width: 50%;
	max-width:220px;
	height: 50px;
	font-size: 19px;
	color:#333;
	&.active{
		background: #fff;
		position: relative;
		&:first-child{
			&:after{
				content:' ';
				background: url(../img/button-shadow.png) no-repeat;
				width:11px;
				height: 50px;
				position: absolute;
				right: -11px;
				top: 0;
			}
		}
		&:last-child{
			&:before{
				content:' ';
				-ms-transform: rotate(7deg); /* IE 9 */
			    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
			    transform: rotate(180deg);
				background: url(../img/button-shadow.png) no-repeat;
				width:11px;
				height: 50px;
				position: absolute;
				left: -11px;
				top: 0;
			}
		}
	}
	&:hover{
		text-decoration: none;
	}
	.fa{
		margin-right: 12px;
	}
}
.Vcenter {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	// position: relative;
	// display: -webkit-box;
	// -webkit-box-pack: center;
	// -webkit-box-align: center;
	// display: -moz-box;
	// -moz-box-pack: center;
	// -moz-box-align: center;
	// display: -ms-box;
	// -ms-box-pack: center;
	// -ms-box-align: center;
	// display: box;
	// box-pack: center;
	// box-align: center;
	// text-align: center;
}
.firefox{
	.Vcenter{
		display: block;
		#menu, #btn_get-started{
			margin-top: 280px;
		}
	}
}
.tcenter{text-align: center;}
.hero-full{
	background: #127E85;
	width:100%;
	height: 100%;
	h1{
		font-size: 70px;
		text-transform: uppercase;
		letter-spacing: 0.4em;
		border-bottom: 2px solid #ccc;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
	.sub-heading{
		font-size: 18px;
		letter-spacing: 0.5em;

	}
	#btn_get-started{
		top: 70px;
		position: relative;
		font-size: 20px;
		letter-spacing: 2px;
		padding: 10px 30px;
		text-transform: uppercase;
	}
}

.bg2{
  background-color: #1abc9c;
  display: block;
}
.modal-backdrop.in{opacity: .7;}
.modal{display:none;}
#loader_modal .modal-dialog {
  width: 70px;
  height: 100%;
}
#loader_modal .modal-dialog img {
	opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}
.tobehind{z-index: 10;}
form{
	.form-group{
		label{
			font-size: 18px;
			font-weight: normal;
		}
		input{
			border-radius: 0px;
			height: 40px;
		}
	}
	input.btn{
		font-size: 18px;
		border-radius: 0px;
		padding: 6px 40px;
		color: #fff;
	}
}

@media (max-width: 640px) { 
	#member_login .modal-dialog {
		width:90% !important;
		.modal-content{
			background: #eee;
			.pull-right{
				margin: auto;
				display: block;
				float: none !important;
			}
		}
	}
}