// CROSS BROWSER
.safari {
	.hero-full img.img-circle{
		margin-top:0;
	}
}


@media (max-width: 320px) {
	#join-wrapper{

		#join-step-1{
			.monitor{
				height: auto;
				background: none;
				video{
					width: 420px !important;
				}	
			}		
		}

		.btn-primary{
			height: auto;
			width: auto;
			box-shadow: none;
			font-size: 20px;
			position: relative;
			margin: 20px;
			left: 0;
			display: inline-block;
			padding: 10px 30px;
		}
	}

}

@media (max-width: 640px) { 
	.hero-full{
		#video-moment-0{display: none;}
		h1{
			font-size: 27px;
		}
		.container {
			width: 100%;
			*{opacity: 1 !important;}
		}
		#menu{
			height: 77px;
			margin-top:150px;

			li{
				margin: 5px;
				width:44%;				
				
				a{
					width: 100%;
					margin: 0;
				}
			}
			&.has-skin{
				transition:all 0.2s linear;
				img{display: none !important;}
				#btn-navtoggle{
					display: block;
					font-size: 40px;
					position: relative;
					right: 0;
					padding: 10px;
					transition:all 0.2s linear;
					&:hover{
						background-color: #fff;
					}
				}
				li{
					height: 0;
					overflow: hidden;
					transition:all 0.2s linear;
					display: block;
					padding: 0;
					width: 100%;
					margin: 0;
					a{
						padding: 10px;
						display: block;
					}
				}
				&.mobile-show{
					background: #333;
					height: 430px;
					#btn-navtoggle{
						color: #3498DB;
					}
					li{
						height: 44px;
						a{
							color: #fff;
							font-weight: bold;
							text-transform: uppercase;
							letter-spacing: 2px;
							transition:all 0.2s linear;
							&:hover{
								text-decoration: none;
								background: #3498DB;
							}
						}
					}
				}
			}
		}
		.sub-heading{
			letter-spacing:0.2em;
		}
	}

	// IPAD
	.safari, .ipad{
		.hero-full img.img-circle{
			margin-top: 0;
		}
	}
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  .hero-full img.img-circle{
		margin-top: 0;
	}
	#homepage.hero-full #btn_get-started,
	.hero-full #btn_get-started, .hero-full .menu{
		margin-top: 285px;
	}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */

}