
@mixin border-radius($size){
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	border-radius: $size;
}
@mixin vcenter(){
	display: flex;
	align-items: center;
}
@mixin center(){
	@include vcenter();
	justify-content: center;
}
@mixin btnjoin_hover($height){
	box-shadow: none;
	height: $height - 10px;
	padding-top: 10px;
}
.center{@include center();}
.vcenter{@include vcenter();}
.mobile-only{display: none;}

// variables
$sprite-path : "../img/admin-sprites.png";

@media (max-width: 640px) { 
	.mobile-only{display: block;}
	.desktop-only{display: none;}
}
