@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
/* line 9, assets/_datepicker.scss */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}

/* line 22, assets/_datepicker.scss */
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

/* line 33, assets/_datepicker.scss */
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}

/* line 43, assets/_datepicker.scss */
.datepicker > div {
  display: none;
}

/* line 46, assets/_datepicker.scss */
.datepicker table {
  width: 100%;
  margin: 0;
}

/* line 50, assets/_datepicker.scss */
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 59, assets/_datepicker.scss */
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}

/* line 63, assets/_datepicker.scss */
.datepicker td.day.disabled {
  color: #eeeeee;
}

/* line 66, assets/_datepicker.scss */
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}

/* line 70, assets/_datepicker.scss */
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 90, assets/_datepicker.scss */
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* line 106, assets/_datepicker.scss */
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}

/* line 112, assets/_datepicker.scss */
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 124, assets/_datepicker.scss */
.datepicker td span:hover {
  background: #eeeeee;
}

/* line 127, assets/_datepicker.scss */
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 146, assets/_datepicker.scss */
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* line 156, assets/_datepicker.scss */
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}

/* line 160, assets/_datepicker.scss */
.datepicker td span.old {
  color: #999999;
}

/* line 163, assets/_datepicker.scss */
.datepicker th.switch {
  width: 145px;
}

/* line 166, assets/_datepicker.scss */
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}

/* line 170, assets/_datepicker.scss */
.datepicker thead tr:first-child th {
  cursor: pointer;
}

/* line 173, assets/_datepicker.scss */
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}

/* line 176, assets/_datepicker.scss */
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* line 20, assets/_variables.scss */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 21, assets/_variables.scss */
.vcenter {
  display: flex;
  align-items: center;
}

/* line 22, assets/_variables.scss */
.mobile-only {
  display: none;
}

@media (max-width: 640px) {
  /* line 28, assets/_variables.scss */
  .mobile-only {
    display: block;
  }

  /* line 29, assets/_variables.scss */
  .desktop-only {
    display: none;
  }
}
/* line 1, assets/_admin-generals.scss */
html, body {
  height: 100%;
}

/* line 2, assets/_admin-generals.scss */
.main {
  padding: 20px;
  margin-left: 250px;
  min-height: 400px;
}

/* line 7, assets/_admin-generals.scss */
input[type="number"].form-control {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 9, assets/_admin-generals.scss */
body {
  background: #eeeeee url(../img/bg.jpg);
  font-family: 'Lato', sans-serif;
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 18, assets/_admin-generals.scss */
hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

/* line 22, assets/_admin-generals.scss */
form {
  overflow: hidden;
}
/* line 25, assets/_admin-generals.scss */
form label {
  font-size: 16px;
}
/* line 28, assets/_admin-generals.scss */
form .btn {
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 32, assets/_admin-generals.scss */
  form .col-sm-2 {
    width: 10.666667%;
  }
}

/* line 37, assets/_admin-generals.scss */
input, textarea {
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
/* line 41, assets/_admin-generals.scss */
input.form-control, textarea.form-control {
  border-color: #dcdcdc;
  position: relative;
  z-index: 1;
  border: 1px solid #aaa;
  padding: 10px !important;
  font-size: 17px;
}

/* line 50, assets/_admin-generals.scss */
.btn-toggle {
  float: left;
  background: #cfcfcf;
  width: 220px;
  height: 50px;
  font-size: 19px;
  color: #333;
}
/* line 57, assets/_admin-generals.scss */
.btn-toggle.active {
  background: #fff;
  position: relative;
}
/* line 61, assets/_admin-generals.scss */
.btn-toggle.active:first-child:after {
  content: ' ';
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  right: -11px;
  top: 0;
}
/* line 72, assets/_admin-generals.scss */
.btn-toggle.active:last-child:before {
  content: ' ';
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  left: -11px;
  top: 0;
}
/* line 86, assets/_admin-generals.scss */
.btn-toggle:hover {
  text-decoration: none;
}
/* line 89, assets/_admin-generals.scss */
.btn-toggle .fa {
  margin-right: 12px;
}

/* line 94, assets/_admin-generals.scss */
.bg2 {
  background-color: #1abc9c;
  display: block;
}

/* line 98, assets/_admin-generals.scss */
.modal-backdrop.in {
  opacity: .7;
}

/* line 99, assets/_admin-generals.scss */
.modal {
  display: none;
}

/* line 100, assets/_admin-generals.scss */
#loader_modal .modal-dialog {
  width: 70px;
  height: 100%;
}

/* line 104, assets/_admin-generals.scss */
#loader_modal .modal-dialog img {
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}

/* line 113, assets/_admin-generals.scss */
.tobehind {
  z-index: 10;
}

/* line 115, assets/_admin-generals.scss */
input.disabled,
select.disabled,
textarea.disabled {
  background: #EEEEEE;
  cursor: not-allowed;
}

/* line 122, assets/_admin-generals.scss */
.modal-body {
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  margin: 10px auto 40px;
}
/* line 127, assets/_admin-generals.scss */
.modal-body * {
  max-width: 98%;
}

/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:73775db11f72cd41e0e1b532b03ff4e2:8e9c327ef4df75ada8eee01ef9c9bd97:2b0e1088fe4765f12231edf40730b031$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
/* line 13, assets/_admin-sprites.scss */
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../img/admin-sprites.png");
}

/* line 15, assets/_admin-sprites.scss */
.avatar-default {
  width: 113px;
  height: 113px;
  background-position: 2px -71px;
}

/* line 16, assets/_admin-sprites.scss */
.avatar-default-sm {
  width: 65px;
  height: 69px;
  background-position: -2px -2px;
}

/* line 17, assets/_admin-sprites.scss */
.blue-arrow {
  width: 20px;
  height: 13px;
  background-position: -2px -187px;
}

/* line 18, assets/_admin-sprites.scss */
.blue-circle-small {
  width: 15px;
  height: 15px;
  background-position: -24px -187px;
}

/* line 19, assets/_admin-sprites.scss */
.blue-collar-small {
  width: 8px;
  height: 20px;
  background-position: -41px -187px;
}

/* line 20, assets/_admin-sprites.scss */
.grey-collar-small {
  width: 8px;
  height: 20px;
  background-position: -51px -187px;
}

/* line 21, assets/_admin-sprites.scss */
.orange-circle-small {
  width: 15px;
  height: 15px;
  background-position: -61px -187px;
}

/* line 22, assets/_admin-sprites.scss */
.red-arrow {
  width: 20px;
  height: 13px;
  background-position: -78px -187px;
}

/* line 23, assets/_admin-sprites.scss */
.yellow-collar-small {
  width: 8px;
  height: 20px;
  background-position: -100px -187px;
}

/* line 1, pages/_admin-dashboard.scss */
#dashboard {
  margin-top: 30px;
  line-height: 1.7;
}
/* line 4, pages/_admin-dashboard.scss */
#dashboard h1, #dashboard h2, #dashboard h3, #dashboard h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 5, pages/_admin-dashboard.scss */
#dashboard .content {
  background: #fff;
  padding: 20px;
}
/* line 9, pages/_admin-dashboard.scss */
#dashboard .content .section ul {
  margin-left: 20px;
}
/* line 14, pages/_admin-dashboard.scss */
#dashboard .side {
  padding: 20px;
  position: relative;
}
/* line 17, pages/_admin-dashboard.scss */
#dashboard .side .section {
  font-size: 13px;
}
/* line 22, pages/_admin-dashboard.scss */
#dashboard #top::after {
  display: inline-block;
}
/* line 26, pages/_admin-dashboard.scss */
#dashboard #top .content .row {
  text-align: center;
}
/* line 28, pages/_admin-dashboard.scss */
#dashboard #top .content .row .value {
  font-size: 30px;
  font-weight: bold;
}
/* line 31, pages/_admin-dashboard.scss */
#dashboard #top .side {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: -20px;
  background: #ccc;
}
/* line 35, pages/_admin-dashboard.scss */
#dashboard #top .side a {
  width: 80%;
  margin: auto;
  display: block;
}
/* line 40, pages/_admin-dashboard.scss */
#dashboard #top .side input[type="text"] {
  cursor: text;
}
/* line 45, pages/_admin-dashboard.scss */
#dashboard .comingsoon {
  font-size: 14px;
  color: #aaa;
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: #eee;
  border: 1px solid #fff;
}
/* line 56, pages/_admin-dashboard.scss */
#dashboard .section {
  margin: 20px;
}
/* line 60, pages/_admin-dashboard.scss */
#dashboard #slideshow-section {
  margin: 20px;
  position: relative;
}
/* line 63, pages/_admin-dashboard.scss */
#dashboard #slideshow-section * {
  width: 100% !important;
}
/* line 68, pages/_admin-dashboard.scss */
#dashboard #newsupdates-section .entry {
  border-bottom: 1px solid #fff;
  box-shadow: 0px 1px 0px #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 75, pages/_admin-dashboard.scss */
#dashboard #note-section {
  padding-top: 30px;
  border-top: 3px solid #eee;
  margin-top: 30px;
}

/* line 1, pages/_admin-geneology.scss */
#geneology {
  position: relative;
  overflow: hidden;
  height: 1000px;
}
/* line 5, pages/_admin-geneology.scss */
#geneology #geneology-mode {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
/* line 9, pages/_admin-geneology.scss */
#geneology #graphical {
  top: 20px;
  position: relative;
}
/* line 12, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data {
  z-index: 1;
  position: relative;
  width: 900px;
  float: left;
}
/* line 17, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 125px;
  width: 125px;
  margin: auto;
  background: #B7B7B7;
  transition: all 0.2s linear;
  overflow: hidden;
  display: inline-block;
  border: 6px solid transparent;
  position: relative;
}
/* line 29, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user > img {
  width: 100%;
  height: 100%;
}
/* line 33, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user > a {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 38, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user.referral-direct {
  border-color: #00a8ff;
}
/* line 41, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user.referral-indirect {
  border-color: #FF9600;
}
/* line 44, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user:hover {
  border-color: #fff;
  position: inherit;
}
/* line 47, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user:hover .popup-control {
  z-index: 3;
  opacity: 1;
  margin-left: -90px;
  left: auto;
  top: 10px;
  background: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}
/* line 58, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user:hover .premier-filter {
  opacity: 0;
}
/* line 61, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user:hover i {
  display: none;
}
/* line 65, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user.blank {
  cursor: default;
}
/* line 68, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user.blank:hover * {
  display: none !important;
}
/* line 72, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user.blank .sprite {
  background: none;
}
/* line 76, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user i {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 81, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .premier-filter {
  background: rgba(19, 71, 139, 0.6);
  height: 114px;
  width: 114px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: -18px;
  transition: all 0.2s linear;
  left: -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 94, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .basic-filter {
  background: rgba(110, 165, 36, 0.6);
  height: 114px;
  width: 114px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: 0;
  transition: all 0.2s linear;
  left: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 107, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .silver-filter {
  background: rgba(255, 255, 255, 0.6);
  height: 114px;
  width: 114px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: 0;
  transition: all 0.2s linear;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 120, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .gold-filter {
  background: rgba(227, 182, 13, 0.6);
  height: 114px;
  width: 114px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: 0;
  transition: all 0.2s linear;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 133, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .diamond-filter {
  background: rgba(8, 160, 210, 0.6);
  height: 114px;
  width: 114px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: 0;
  transition: all 0.2s linear;
  left: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 146, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .admin-filter {
  background: rgba(255, 165, 0, 0.6);
  height: 114px;
  width: 114px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: 0;
  transition: all 0.2s linear;
  left: -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 159, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user ._01-filter {
  background: rgba(128, 0, 128, 0.6);
  height: 114px;
  width: 114px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: 0;
  transition: all 0.2s linear;
  left: -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 172, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .sprite {
  vertical-align: bottom;
  left: 0px;
  bottom: -20px;
  position: relative;
  overflow: visible;
}
/* line 179, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .popup-control {
  z-index: -1;
  transition: none;
  opacity: 0;
  position: absolute;
  left: -30px;
  text-align: right;
  top: 0;
}
/* line 187, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .popup-control a {
  display: block;
  margin: 10px 0;
}
/* line 191, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .popup-control * {
  transition: none;
}
/* line 195, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .user .avatar-default-sm .premier-filter {
  width: 73px;
  height: 73px;
  top: -20px;
}
/* line 201, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage {
  text-align: center;
}
/* line 203, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .left, #geneology #graphical #graphical-data .stage .right {
  display: inline-block;
  margin: 30px 0px;
}
/* line 207, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector {
  width: 100%;
}
/* line 215, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .left, #geneology #graphical #graphical-data .stage .connector .right {
  margin: 0;
  padding: 30px 0px;
}
/* line 219, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector span {
  position: absolute;
}
/* line 222, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .l1, #geneology #graphical #graphical-data .stage .connector .l3 {
  width: 1px;
  border-left: 1px solid #cecece;
  top: 0;
}
/* line 227, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage .connector .l2 {
  height: 1px;
  border-top: 1px solid #cecece;
}
/* line 233, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 > .user {
  border-color: #88c7ff;
}
/* line 236, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 > .user i span {
  top: 0 !important;
  left: 0 !important;
}
/* line 242, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector {
  position: absolute;
}
/* line 244, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left {
  position: relative;
}
/* line 246, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l1 {
  height: 20px;
  right: 0;
}
/* line 250, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l2 {
  width: 210px;
  top: 20px;
  right: 0;
}
/* line 255, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l3 {
  height: 10px;
  right: 210px;
  top: 20px;
}
/* line 261, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right {
  position: relative;
}
/* line 263, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l1 {
  height: 20px;
  left: 0;
}
/* line 267, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l2 {
  width: 210px;
  top: 20px;
  left: 0;
}
/* line 272, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l3 {
  height: 10px;
  left: 210px;
  top: 20px;
}
/* line 280, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 {
  color: red;
}
/* line 285, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 > .left > .user > i > span {
  top: 1px;
  left: 0px;
}
/* line 295, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 > .right > .user > i > span {
  top: 0px;
  left: 0px;
}
/* line 302, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .popup-control {
  top: 170px;
}
/* line 305, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector {
  position: absolute;
  margin-left: -240px;
}
/* line 308, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left {
  position: relative;
}
/* line 310, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l1 {
  height: 11px;
  right: 0;
}
/* line 314, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l2 {
  width: 100px;
  top: 10px;
  right: 0;
}
/* line 319, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l3 {
  height: 20px;
  right: 100px;
  top: 10px;
}
/* line 325, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right {
  position: relative;
}
/* line 327, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l1 {
  height: 11px;
  left: 0;
}
/* line 331, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l2 {
  width: 100px;
  top: 10px;
  left: 0;
}
/* line 336, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l3 {
  height: 20px;
  left: 100px;
  top: 10px;
}
/* line 349, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 i span {
  width: 74px !important;
  height: 74px !important;
}
/* line 354, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .avatar-default-sm {
  display: block !important;
  margin-top: 10px;
  margin-left: 5px;
}
/* line 358, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .avatar-default-sm span {
  top: -10px;
  left: -5px;
}
/* line 363, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 a.link {
  width: 65px;
  height: 69px;
  z-index: 3;
  margin-left: 0px;
}
/* line 370, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .user {
  position: relative;
  width: 84px;
  height: 84px;
}
/* line 374, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .user:hover {
  position: static;
}
/* line 378, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .left, #geneology #graphical #graphical-data .stage.stage-3 .right {
  position: relative;
  margin: 30px 0px;
}
/* line 382, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .premier-filter {
  top: 0px;
  left: 0px;
}
/* line 386, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .popup-control {
  top: 0px;
  left: -30px;
  margin-left: 0;
}
/* line 391, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector {
  position: absolute;
  margin-left: 0;
}
/* line 394, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .left {
  margin: 0;
  position: relative;
}
/* line 397, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .left .l1 {
  height: 11px;
  right: 0;
}
/* line 401, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .left .l2 {
  width: 50px;
  top: 10px;
  right: 0;
}
/* line 406, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .left .l3 {
  height: 20px;
  right: 50px;
  top: 10px;
}
/* line 412, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .right {
  margin: 0;
  position: relative;
}
/* line 415, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .right .l1 {
  height: 11px;
  left: 0;
}
/* line 419, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .right .l2 {
  width: 50px;
  top: 10px;
  left: 0;
}
/* line 424, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-3 .connector .right .l3 {
  height: 20px;
  left: 50px;
  top: 10px;
}
/* line 433, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-4 .left, #geneology #graphical #graphical-data .stage.stage-4 .right {
  margin: 30px 10px;
}
/* line 436, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-4 .popup-control {
  left: 77px;
  margin-left: 0;
}
/* line 440, pages/_admin-geneology.scss */
#geneology #graphical #graphical-data .stage.stage-4 a.link {
  left: 0px;
}
/* line 446, pages/_admin-geneology.scss */
#geneology #graphical #legend {
  color: #fff;
  background: rgba(247, 0, 66, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
  position: absolute;
  right: 0;
  font-size: 14px;
  z-index: 2;
}
/* line 455, pages/_admin-geneology.scss */
#geneology #graphical #legend .sprite {
  position: absolute;
  left: -20px;
}
/* line 459, pages/_admin-geneology.scss */
#geneology #graphical #legend strong {
  text-transform: uppercase;
  font-size: 15px;
}
/* line 463, pages/_admin-geneology.scss */
#geneology #graphical #legend li {
  list-style: none;
  position: relative;
  padding: 6px;
}
/* line 467, pages/_admin-geneology.scss */
#geneology #graphical #legend li span {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: -20px;
  position: absolute;
  border: 3px solid #fff;
}
/* line 476, pages/_admin-geneology.scss */
#geneology #graphical #legend ul {
  margin-left: 20px;
  margin-bottom: 0;
  padding-left: 0;
}
/* line 481, pages/_admin-geneology.scss */
#geneology #graphical #legend .basic span {
  background: rgba(110, 165, 36, 0.6);
}
/* line 484, pages/_admin-geneology.scss */
#geneology #graphical #legend .premier span {
  background: rgba(19, 71, 139, 0.6);
}
/* line 487, pages/_admin-geneology.scss */
#geneology #graphical #legend .silver span {
  background: rgba(255, 255, 255, 0.6);
}
/* line 490, pages/_admin-geneology.scss */
#geneology #graphical #legend .gold span {
  background: rgba(227, 182, 13, 0.6);
}
/* line 493, pages/_admin-geneology.scss */
#geneology #graphical #legend .diamond span {
  background: rgba(8, 160, 210, 0.6);
}
/* line 496, pages/_admin-geneology.scss */
#geneology #graphical #legend .direct span {
  border-color: #00a8ff;
  background: transparent;
}
/* line 500, pages/_admin-geneology.scss */
#geneology #graphical #legend .indirect span {
  border-color: #FF9600;
  background: transparent;
}
/* line 506, pages/_admin-geneology.scss */
#geneology #textual {
  top: 100px;
}
/* line 508, pages/_admin-geneology.scss */
#geneology #textual .buttons {
  margin-bottom: 20px;
}
/* line 511, pages/_admin-geneology.scss */
#geneology #textual #textual-data {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #fff;
}
/* line 517, pages/_admin-geneology.scss */
#geneology #textual .acc-type {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  display: block;
}
/* line 523, pages/_admin-geneology.scss */
#geneology #textual .acc-type.basic {
  background: rgba(110, 165, 36, 0.6);
}
/* line 526, pages/_admin-geneology.scss */
#geneology #textual .acc-type.premier {
  background: rgba(19, 71, 139, 0.6);
}
/* line 529, pages/_admin-geneology.scss */
#geneology #textual .acc-type.silver {
  background: rgba(255, 255, 255, 0.6);
  border-color: #999;
}
/* line 533, pages/_admin-geneology.scss */
#geneology #textual .acc-type.gold {
  background: rgba(227, 182, 13, 0.6);
}

/* line 544, pages/_admin-geneology.scss */
#geneology * {
  transition: all 0.7s linear;
}
/* line 545, pages/_admin-geneology.scss */
#geneology #graphical {
  opacity: 0;
  width: 100%;
  top: 20px;
  left: -110%;
}
/* line 550, pages/_admin-geneology.scss */
#geneology #graphical.active {
  opacity: 1;
  left: 0%;
}
/* line 555, pages/_admin-geneology.scss */
#geneology #textual {
  position: absolute;
  opacity: 0;
  width: 98%;
  right: -100%;
}
/* line 560, pages/_admin-geneology.scss */
#geneology #textual.active {
  opacity: 1;
  right: 0%;
}

/* line 1, pages/_admin-ewallet.scss */
#ewallet {
  margin-top: 30px;
  line-height: 1.7;
}
/* line 4, pages/_admin-ewallet.scss */
#ewallet h1, #ewallet h2, #ewallet h3, #ewallet h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 5, pages/_admin-ewallet.scss */
#ewallet .content {
  background: #fff;
  padding: 20px;
}
/* line 8, pages/_admin-ewallet.scss */
#ewallet .content .row {
  text-align: center;
}
/* line 10, pages/_admin-ewallet.scss */
#ewallet .content .row a {
  padding: 20px;
  width: 150px;
}
/* line 13, pages/_admin-ewallet.scss */
#ewallet .content .row a .fa {
  font-size: 40px;
  margin-bottom: 20px;
  display: block;
}
/* line 21, pages/_admin-ewallet.scss */
#ewallet .side {
  padding: 20px;
  position: relative;
}
/* line 24, pages/_admin-ewallet.scss */
#ewallet .side .section {
  font-size: 13px;
}
/* line 32, pages/_admin-ewallet.scss */
#ewallet #top .side {
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: -20px;
  background: #ccc;
}
/* line 38, pages/_admin-ewallet.scss */
#ewallet #top .side .row .value {
  font-size: 30px;
  font-weight: bold;
}
/* line 42, pages/_admin-ewallet.scss */
#ewallet #transact-form {
  width: 400px;
  position: relative;
  height: 400px;
  overflow: hidden;
}
/* line 47, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform {
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s linear;
  padding: 20px;
}
/* line 56, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1 {
  opacity: 0;
  z-index: 1;
  top: 100px;
}
/* line 60, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1.active {
  opacity: 1;
  z-index: 2;
  top: 0;
}
/* line 65, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1 .btn {
  display: block;
  text-align: left;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 70, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step1 .btn .fa {
  width: 30px;
  text-align: center;
  margin-right: 20px;
}
/* line 77, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-a {
  top: -100px;
}
/* line 79, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-a.active {
  opacity: 1;
  top: 0;
  z-index: 2;
}
/* line 85, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-b {
  left: -100px;
}
/* line 87, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-b.active {
  opacity: 1;
  left: 0;
  z-index: 2;
}
/* line 93, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-c {
  right: -100px;
}
/* line 95, pages/_admin-ewallet.scss */
#ewallet #transact-form .tform#step2-c.active {
  opacity: 1;
  right: 0;
  z-index: 2;
}
/* line 103, pages/_admin-ewallet.scss */
#ewallet #balance-summary {
  width: 400px;
}

/* line 110, pages/_admin-ewallet.scss */
#ewallet_widthraw .modal-body,
#ewallet_upgrade .modal-body,
#ewallet_add_account .modal-body {
  text-align: left;
}

/* line 1, pages/_admin-jobs.scss */
#jobs {
  text-align: center;
}
/* line 3, pages/_admin-jobs.scss */
#jobs .panel-group {
  max-width: 800px;
  margin: auto;
}
/* line 6, pages/_admin-jobs.scss */
#jobs .panel-group ul {
  padding-left: 0;
}
/* line 9, pages/_admin-jobs.scss */
#jobs .panel-group li {
  text-align: left;
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
/* line 16, pages/_admin-jobs.scss */
#jobs .panel-title {
  text-align: left;
}

/* line 21, pages/_admin-jobs.scss */
#job_detail_modal .modal-body {
  text-align: left;
}

/* line 1, pages/_admin-library.scss */
#library {
  text-align: center;
}
/* line 3, pages/_admin-library.scss */
#library #menu {
  background: #fff;
  text-align: center;
  width: 840px;
  margin: auto;
  border: 1px solid #ccc;
  display: inline-block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 13, pages/_admin-library.scss */
#library #menu > ul > li > a {
  font-size: 14px;
  text-align: center;
  padding: 15px 36px;
  border-left: 1px solid #ddd;
}
/* line 20, pages/_admin-library.scss */
#library #menu > ul > li:first-child > a {
  border-left: none;
}
/* line 28, pages/_admin-library.scss */
#library .contents {
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
/* line 32, pages/_admin-library.scss */
#library .contents .item {
  display: inline-block;
  margin: 10px;
  position: relative;
  background-color: transparent;
}
/* line 37, pages/_admin-library.scss */
#library .contents .item a {
  position: absolute;
  width: 100%;
  transition: all 0.2s linear;
  height: 100%;
  background-color: transparent;
}
/* line 43, pages/_admin-library.scss */
#library .contents .item a:hover {
  background-color: rgba(128, 0, 0, 0.8);
}
/* line 48, pages/_admin-library.scss */
#library .contents .item .favorite {
  position: absolute;
  width: 25px;
  height: 60px;
  background: rgba(255, 165, 0, 0.9);
  right: 0;
  text-align: center;
  color: #fff;
}

/* line 61, pages/_admin-library.scss */
#product_detail_modal .product-image {
  float: left;
  margin-right: 10px;
}
/* line 65, pages/_admin-library.scss */
#product_detail_modal .product-description {
  text-align: left;
}
/* line 67, pages/_admin-library.scss */
#product_detail_modal .product-description h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
/* line 71, pages/_admin-library.scss */
#product_detail_modal .product-description p {
  line-height: 1.7;
  margin-bottom: 20px;
}

/* line 77, pages/_admin-library.scss */
#category_submodal .modal-body {
  text-align: left;
}

/* line 82, pages/_admin-library.scss */
#quotes_modal .modal-dialog {
  max-width: 90%;
  width: auto;
}

/* line 1, pages/_admin-myaccount.scss */
#myaccount {
  position: relative;
}
/* line 3, pages/_admin-myaccount.scss */
#myaccount #main-buttons {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
/* line 9, pages/_admin-myaccount.scss */
#myaccount #main-buttons #btn-payment {
  background-color: #1a56a5;
  color: #fff;
}
/* line 14, pages/_admin-myaccount.scss */
#myaccount .wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
}
/* line 20, pages/_admin-myaccount.scss */
#myaccount #personal-info-cont {
  position: absolute;
  left: -120%;
  width: 100%;
}
/* line 24, pages/_admin-myaccount.scss */
#myaccount #personal-info-cont.active {
  left: 0;
}
/* line 28, pages/_admin-myaccount.scss */
#myaccount #security-cont {
  position: absolute;
  right: -120%;
  top: 0;
  width: 100%;
}
/* line 33, pages/_admin-myaccount.scss */
#myaccount #security-cont.active {
  right: 0;
}
/* line 37, pages/_admin-myaccount.scss */
#myaccount #activation-cont {
  position: absolute;
  right: -120%;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
/* line 44, pages/_admin-myaccount.scss */
#myaccount #activation-cont.active {
  right: 0;
}
/* line 47, pages/_admin-myaccount.scss */
#myaccount #activation-cont table {
  width: 50%;
  margin: auto;
}
/* line 51, pages/_admin-myaccount.scss */
#myaccount #activation-cont h2 {
  text-transform: uppercase;
  color: green;
  font-weight: 900;
}
/* line 55, pages/_admin-myaccount.scss */
#myaccount #activation-cont h2.inactive {
  color: red;
}
/* line 60, pages/_admin-myaccount.scss */
#myaccount #payment-cont {
  position: absolute;
  right: -95%;
  top: 0;
  width: 100%;
  text-align: center;
}
/* line 66, pages/_admin-myaccount.scss */
#myaccount #payment-cont #tblpaymenttrans {
  background: #fff;
  width: 80%;
  margin: 10px auto 20px;
}
/* line 70, pages/_admin-myaccount.scss */
#myaccount #payment-cont #tblpaymenttrans small {
  display: block;
}
/* line 74, pages/_admin-myaccount.scss */
#myaccount #payment-cont #tblpaymenttrans .onprocess strong {
  color: green;
}
/* line 79, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps {
  text-align: left;
  width: 55%;
  margin: 20px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 85, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps .step {
  display: none;
}
/* line 87, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps .step#step1 {
  display: block;
}
/* line 88, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps .step h3 {
  background: #13478b;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
/* line 97, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps .step#step4 div {
  display: none;
}
/* line 102, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps .step#step5 .bank, #myaccount #payment-cont #steps .step#step5 .wire {
  display: none;
}
/* line 104, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps .step#step6 {
  text-align: center;
}
/* line 106, pages/_admin-myaccount.scss */
#myaccount #payment-cont #steps .step#step6 #payment_picture_proof_prev {
  max-height: 250px;
  margin-top: 10px;
}
/* line 113, pages/_admin-myaccount.scss */
#myaccount #payment-cont.active {
  right: 0;
}
/* line 117, pages/_admin-myaccount.scss */
#myaccount .user-avatar {
  text-align: center;
  background: #eee;
  padding: 10px 10px 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 128, pages/_admin-myaccount.scss */
#myaccount .user-avatar .sponsor-info {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  width: 100%;
  left: 0;
}
/* line 135, pages/_admin-myaccount.scss */
#myaccount .user-avatar .sponsor-info.sponsor {
  padding: 5px;
}
/* line 139, pages/_admin-myaccount.scss */
#myaccount .user-avatar h3 {
  margin: 0;
}
/* line 142, pages/_admin-myaccount.scss */
#myaccount .user-avatar img {
  margin: 10px 0 0;
  width: 100%;
}
/* line 145, pages/_admin-myaccount.scss */
#myaccount .user-avatar img.sponsor_avatar {
  width: 70%;
}
/* line 150, pages/_admin-myaccount.scss */
#myaccount .user-avatar .sponsor-info * {
  display: block;
}
/* line 155, pages/_admin-myaccount.scss */
#myaccount #btn-submit {
  width: 80%;
  font-size: 30px;
  margin: 20px auto;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* line 168, pages/_admin-myaccount.scss */
#myaccount .contents {
  transition: all 0.7s linear;
  opacity: 0;
}
/* line 171, pages/_admin-myaccount.scss */
#myaccount .contents.active {
  opacity: 1;
}

/* line 2, pages/_admin-messages.scss */
#messages ul {
  position: relative;
  height: 42px;
}
/* line 6, pages/_admin-messages.scss */
#messages #btn-compose-message {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 12, pages/_admin-messages.scss */
#messages #compose_message_modal .modal-dialog {
  width: 350px;
}
/* line 16, pages/_admin-messages.scss */
#messages .new, #messages .new * {
  background-color: bisque;
}

/* line 1, pages/_admin-support.scss */
#support {
  width: 80%;
  height: 100%;
  margin: auto !important;
  position: relative !important;
}
/* line 7, pages/_admin-support.scss */
#support h4 {
  font-weight: 700;
  margin-bottom: 10px;
}
/* line 11, pages/_admin-support.scss */
#support p {
  margin-bottom: 30px;
}
/* line 14, pages/_admin-support.scss */
#support form {
  background: #fff;
  padding: 15px 30px;
  /* max-width: 470px; */
  margin-bottom: 20px;
}
/* line 20, pages/_admin-support.scss */
#support textarea.form-control {
  min-height: 200px;
}

/* line 2, pages/_admin-profile.scss */
#profile-wrapper #profile {
  background: #fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px #aaa;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}
/* line 10, pages/_admin-profile.scss */
#profile-wrapper #profile .top {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
/* line 14, pages/_admin-profile.scss */
#profile-wrapper #profile .top #user-details img {
  width: 200px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 5px solid #fff;
  box-shadow: 0px 1px 4px #333;
  margin-bottom: 20px;
}
/* line 23, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network {
  margin-left: 20px;
  float: left;
}
/* line 26, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network #user-name {
  margin-top: 0;
}
/* line 29, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network hr {
  margin: 12px 0;
}
/* line 32, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network .avatar {
  float: left;
  background: #fff;
  border: 1px solid #aaa;
  padding: 10px;
  margin-right: 10px;
}
/* line 38, pages/_admin-profile.scss */
#profile-wrapper #profile .top #network .avatar .ribbon {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}
/* line 49, pages/_admin-profile.scss */
#profile-wrapper #profile .below .sidebar {
  border-right: 1px solid #ccc;
  float: left;
  width: 200px;
  margin-right: 20px;
}
/* line 55, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content {
  float: left;
  width: 550px;
}
/* line 60, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta {
  margin-bottom: 10px;
}
/* line 62, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  float: left;
}
/* line 68, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-name {
  font-weight: bold;
  margin-right: 30px;
}
/* line 72, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-date {
  color: #aaa;
  font-size: 13px;
}
/* line 77, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-body {
  border-top: 1px solid #ccc;
  margin-left: 80px;
}
/* line 80, pages/_admin-profile.scss */
#profile-wrapper #profile .below .content #comments .comment .comment-body * {
  width: 100%;
}

/* line 1, pages/_admin-welcome.scss */
#welcome {
  text-align: center;
  background: no-repeat center 98px rgba(237, 233, 223, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 1;
}
/* line 10, pages/_admin-welcome.scss */
#welcome div {
  position: fixed;
  top: 130px;
  left: 50%;
  margin-left: -149px;
}
/* line 15, pages/_admin-welcome.scss */
#welcome div h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 1, partials/_admin-header.scss */
#header {
  background: #08a0d2;
  height: 98px;
  position: relative;
  z-index: 2;
}
/* line 6, partials/_admin-header.scss */
#header #branding {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
  position: relative;
  float: left;
  border-bottom: 1px solid #4897ff;
  height: 100%;
}
/* line 14, partials/_admin-header.scss */
#header #branding .shadow {
  background: url("../img/logo-shadow.png") no-repeat;
  width: 250px;
  height: 17px;
  position: absolute;
  bottom: -17px;
  left: 0;
}
/* line 22, partials/_admin-header.scss */
#header #branding img#site-logo {
  max-width: 75px;
}
/* line 26, partials/_admin-header.scss */
#header #headings {
  height: 98px;
  display: block;
  text-align: center;
}
/* line 30, partials/_admin-header.scss */
#header #headings #site-title {
  width: 400px;
  margin-top: 30px;
}
/* line 34, partials/_admin-header.scss */
#header #headings #sub-title {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* line 40, partials/_admin-header.scss */
#header .pull-right {
  height: 100%;
  color: #fff;
  font-size: 14px;
  width: 320px;
}
/* line 46, partials/_admin-header.scss */
#header .pull-right .slogan {
  font-size: 30px;
  margin-right: 45px;
}
/* line 49, partials/_admin-header.scss */
#header .pull-right .slogan i.fa {
  font-size: 12px;
  position: relative;
  top: -15px;
}
/* line 55, partials/_admin-header.scss */
#header .pull-right #avatar {
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 59px;
  height: 59px;
  overflow: hidden;
  margin-right: 25px;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
/* line 64, partials/_admin-header.scss */
#header .pull-right #avatar:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.6);
}
/* line 67, partials/_admin-header.scss */
#header .pull-right #avatar img {
  width: 100%;
  height: 100%;
}
/* line 72, partials/_admin-header.scss */
#header .pull-right #btn-logout {
  width: 84px;
  border-left: 1px solid #ac47b2;
  background: #f70042;
  height: 100%;
  margin-left: 23px;
  font-size: 35px;
  transition: all 0.2s linear;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
}
/* line 83, partials/_admin-header.scss */
#header .pull-right #btn-logout:hover {
  text-decoration: none;
  color: #fff;
}

/* line 1, partials/_admin-sidebar.scss */
#sidebar {
  width: 250px;
  float: left;
  background-color: #13478b;
  padding-top: 42px;
  position: relative;
  padding-bottom: 20px;
}
/* line 9, partials/_admin-sidebar.scss */
#sidebar .extension {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #13478b;
  z-index: 1;
}
/* line 18, partials/_admin-sidebar.scss */
#sidebar ul {
  padding: 0;
  position: relative;
  z-index: 2;
}
/* line 23, partials/_admin-sidebar.scss */
#sidebar li {
  list-style: none;
  padding: 0;
}
/* line 26, partials/_admin-sidebar.scss */
#sidebar li .badge {
  position: absolute;
  right: 50px;
  background: orange;
}
/* line 31, partials/_admin-sidebar.scss */
#sidebar li a {
  position: relative;
  padding: 15px 20px;
  display: block;
  transition: all 0.2s linear;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #88c7ff;
  font-size: 13px;
}
/* line 40, partials/_admin-sidebar.scss */
#sidebar li a:hover {
  background-color: #1a56a5;
  text-decoration: none;
  color: #fff;
}
/* line 45, partials/_admin-sidebar.scss */
#sidebar li a .fa {
  width: 30px;
  text-align: center;
  font-size: 21px;
  margin-right: 20px;
  margin-left: 15px;
}
/* line 52, partials/_admin-sidebar.scss */
#sidebar li a.active {
  background: #fff;
  color: #333;
}
/* line 58, partials/_admin-sidebar.scss */
#sidebar .admin-page {
  background: red;
  margin-bottom: 10px;
  color: #fff !important;
  letter-spacing: 2px;
  font-size: 17px !important;
}

/* line 2, _admin-scheme.scss */
body.acctype-1 #sidebar {
  background-color: #6ea524;
}
/* line 4, _admin-scheme.scss */
body.acctype-1 #sidebar .extension {
  background-color: #6ea524;
}
/* line 7, _admin-scheme.scss */
body.acctype-1 #sidebar a {
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}
/* line 10, _admin-scheme.scss */
body.acctype-1 #sidebar a:hover {
  background-color: #5c960d;
}
/* line 15, _admin-scheme.scss */
body.acctype-1 .btn-primary {
  background-color: #6ea524;
  border-color: #5f9b0f;
}

/* line 26, _admin-scheme.scss */
body.acctype-3 #sidebar {
  background-color: #fff;
}
/* line 28, _admin-scheme.scss */
body.acctype-3 #sidebar .extension {
  background-color: #fff;
}
/* line 31, _admin-scheme.scss */
body.acctype-3 #sidebar a {
  color: #333;
  font-size: 14px;
}
/* line 34, _admin-scheme.scss */
body.acctype-3 #sidebar a:hover {
  background-color: #999;
  color: #fff;
}
/* line 40, _admin-scheme.scss */
body.acctype-3 .btn-primary {
  background-color: #6ea524;
  border-color: #5f9b0f;
}

/* line 46, _admin-scheme.scss */
body.acctype-4 #sidebar {
  background-color: #e3b60d;
}
/* line 48, _admin-scheme.scss */
body.acctype-4 #sidebar .extension {
  background-color: #e3b60d;
}
/* line 51, _admin-scheme.scss */
body.acctype-4 #sidebar a {
  color: #333;
}
/* line 53, _admin-scheme.scss */
body.acctype-4 #sidebar a:hover {
  background-color: #fff;
}
/* line 58, _admin-scheme.scss */
body.acctype-4 a {
  color: #333;
}
/* line 62, _admin-scheme.scss */
body.acctype-4 .user-avatar a {
  width: 80%;
  margin: auto;
  font-weight: bold;
}
/* line 68, _admin-scheme.scss */
body.acctype-4 .btn-primary {
  background-color: #e3b60d;
  border-color: #e3b60d;
}
/* line 73, _admin-scheme.scss */
body.acctype-4 #myaccount #main-buttons #btn-payment {
  background-color: #e3b60d;
  color: #333;
}

/* line 77, _admin-scheme.scss */
body.acctype-5 #sidebar {
  background-color: #08a0d2;
}
/* line 79, _admin-scheme.scss */
body.acctype-5 #sidebar .extension {
  background-color: #08a0d2;
}
/* line 82, _admin-scheme.scss */
body.acctype-5 #sidebar a {
  color: #333;
  font-size: 14px;
}
/* line 85, _admin-scheme.scss */
body.acctype-5 #sidebar a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 91, _admin-scheme.scss */
body.acctype-5 .btn-primary {
  background-color: #08a0d2;
  border-color: #fff;
}
/* line 96, _admin-scheme.scss */
body.acctype-5 #myaccount #main-buttons #btn-payment {
  background-color: #e3b60d;
  color: #333;
}

@media (max-width: 1040px) {
  /* line 3, assets/_admin-responsive.scss */
  #header #branding {
    width: 200px;
  }
  /* line 5, assets/_admin-responsive.scss */
  #header #branding .shadow {
    width: 200px;
    background-position: center;
  }

  /* line 11, assets/_admin-responsive.scss */
  #sidebar {
    width: 200px;
  }
  /* line 13, assets/_admin-responsive.scss */
  #sidebar .extension {
    width: 200px;
  }
  /* line 17, assets/_admin-responsive.scss */
  #sidebar li a {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 21, assets/_admin-responsive.scss */
  #sidebar li .badge {
    right: 10px;
  }

  /* line 26, assets/_admin-responsive.scss */
  .main {
    margin-left: 200px;
  }
}
@media (max-width: 940px) {
  /* line 32, assets/_admin-responsive.scss */
  #header #branding {
    display: none;
  }
}
@media (max-width: 750px) {
  /* line 38, assets/_admin-responsive.scss */
  #header {
    height: 50px;
  }

  /* line 39, assets/_admin-responsive.scss */
  #header #headings {
    display: none;
  }

  /* line 40, assets/_admin-responsive.scss */
  #header .pull-right #btn-logout {
    position: absolute;
    left: 0;
    margin-left: 0;
    width: 40px;
    font-size: 20px;
    color: #fff;
  }

  /* line 41, assets/_admin-responsive.scss */
  #header .pull-right {
    width: auto;
    margin-right: 5px;
  }

  /* line 42, assets/_admin-responsive.scss */
  #header .pull-right #avatar {
    width: 45px;
    height: 45px;
  }

  /* line 43, assets/_admin-responsive.scss */
  #sidebar, #sidebar .extension {
    width: 40px;
  }

  /* line 44, assets/_admin-responsive.scss */
  #sidebar li span {
    display: none;
  }

  /* line 45, assets/_admin-responsive.scss */
  #sidebar li a .fa {
    margin: 0;
    width: 100%;
  }

  /* line 47, assets/_admin-responsive.scss */
  .main {
    margin-left: 40px;
    margin-top: 0px !important;
  }

  /* line 52, assets/_admin-responsive.scss */
  #dashboard {
    text-align: center;
  }
}
