@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
/* line 9, assets/_datepicker.scss */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}

/* line 22, assets/_datepicker.scss */
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

/* line 33, assets/_datepicker.scss */
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}

/* line 43, assets/_datepicker.scss */
.datepicker > div {
  display: none;
}

/* line 46, assets/_datepicker.scss */
.datepicker table {
  width: 100%;
  margin: 0;
}

/* line 50, assets/_datepicker.scss */
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 59, assets/_datepicker.scss */
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}

/* line 63, assets/_datepicker.scss */
.datepicker td.day.disabled {
  color: #eeeeee;
}

/* line 66, assets/_datepicker.scss */
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}

/* line 70, assets/_datepicker.scss */
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 90, assets/_datepicker.scss */
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* line 106, assets/_datepicker.scss */
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}

/* line 112, assets/_datepicker.scss */
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 124, assets/_datepicker.scss */
.datepicker td span:hover {
  background: #eeeeee;
}

/* line 127, assets/_datepicker.scss */
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 146, assets/_datepicker.scss */
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

/* line 156, assets/_datepicker.scss */
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}

/* line 160, assets/_datepicker.scss */
.datepicker td span.old {
  color: #999999;
}

/* line 163, assets/_datepicker.scss */
.datepicker th.switch {
  width: 145px;
}

/* line 166, assets/_datepicker.scss */
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}

/* line 170, assets/_datepicker.scss */
.datepicker thead tr:first-child th {
  cursor: pointer;
}

/* line 173, assets/_datepicker.scss */
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}

/* line 176, assets/_datepicker.scss */
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* line 1, assets/_front-generals.scss */
html, body {
  height: 100% !important;
  /* overflow:inherit !important; */
}

/* line 2, assets/_front-generals.scss */
body {
  background: #eeeeee url(../img/bg.jpg);
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 10, assets/_front-generals.scss */
.btn-toggle {
  float: left;
  background: #cfcfcf;
  width: 50%;
  max-width: 220px;
  height: 50px;
  font-size: 19px;
  color: #333;
}
/* line 18, assets/_front-generals.scss */
.btn-toggle.active {
  background: #fff;
  position: relative;
}
/* line 22, assets/_front-generals.scss */
.btn-toggle.active:first-child:after {
  content: ' ';
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  right: -11px;
  top: 0;
}
/* line 33, assets/_front-generals.scss */
.btn-toggle.active:last-child:before {
  content: ' ';
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  left: -11px;
  top: 0;
}
/* line 47, assets/_front-generals.scss */
.btn-toggle:hover {
  text-decoration: none;
}
/* line 50, assets/_front-generals.scss */
.btn-toggle .fa {
  margin-right: 12px;
}

/* line 54, assets/_front-generals.scss */
.Vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* line 75, assets/_front-generals.scss */
.firefox .Vcenter {
  display: block;
}
/* line 77, assets/_front-generals.scss */
.firefox .Vcenter #menu, .firefox .Vcenter #btn_get-started {
  margin-top: 280px;
}

/* line 82, assets/_front-generals.scss */
.tcenter {
  text-align: center;
}

/* line 83, assets/_front-generals.scss */
.hero-full {
  background: #127E85;
  width: 100%;
  height: 100%;
}
/* line 87, assets/_front-generals.scss */
.hero-full h1 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 95, assets/_front-generals.scss */
.hero-full .sub-heading {
  font-size: 18px;
  letter-spacing: 0.5em;
}
/* line 100, assets/_front-generals.scss */
.hero-full #btn_get-started {
  top: 70px;
  position: relative;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px 30px;
  text-transform: uppercase;
}

/* line 110, assets/_front-generals.scss */
.bg2 {
  background-color: #1abc9c;
  display: block;
}

/* line 114, assets/_front-generals.scss */
.modal-backdrop.in {
  opacity: .7;
}

/* line 115, assets/_front-generals.scss */
.modal {
  display: none;
}

/* line 116, assets/_front-generals.scss */
#loader_modal .modal-dialog {
  width: 70px;
  height: 100%;
}

/* line 120, assets/_front-generals.scss */
#loader_modal .modal-dialog img {
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}

/* line 129, assets/_front-generals.scss */
.tobehind {
  z-index: 10;
}

/* line 132, assets/_front-generals.scss */
form .form-group label {
  font-size: 18px;
  font-weight: normal;
}
/* line 136, assets/_front-generals.scss */
form .form-group input {
  border-radius: 0px;
  height: 40px;
}
/* line 141, assets/_front-generals.scss */
form input.btn {
  font-size: 18px;
  border-radius: 0px;
  padding: 6px 40px;
  color: #fff;
}

@media (max-width: 640px) {
  /* line 150, assets/_front-generals.scss */
  #member_login .modal-dialog {
    width: 90% !important;
  }
  /* line 152, assets/_front-generals.scss */
  #member_login .modal-dialog .modal-content {
    background: #eee;
  }
  /* line 154, assets/_front-generals.scss */
  #member_login .modal-dialog .modal-content .pull-right {
    margin: auto;
    display: block;
    float: none !important;
  }
}
/* line 20, assets/_variables.scss */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 21, assets/_variables.scss */
.vcenter {
  display: flex;
  align-items: center;
}

/* line 22, assets/_variables.scss */
.mobile-only {
  display: none;
}

@media (max-width: 640px) {
  /* line 28, assets/_variables.scss */
  .mobile-only {
    display: block;
  }

  /* line 29, assets/_variables.scss */
  .desktop-only {
    display: none;
  }
}
/* line 1, pages/_join.scss */
.join-containers {
  position: relative;
  text-align: center;
  width: 993px;
  margin: 30px auto 20px;
  padding-bottom: 30px;
}
/* line 7, pages/_join.scss */
.join-containers .backbutton {
  text-align: left;
}
/* line 10, pages/_join.scss */
.join-containers .monitor {
  position: relative;
  background: url(../img/laptop.png) no-repeat center top;
  background-size: 93%;
  width: 993px;
  height: 572px;
  margin: auto;
}
/* line 17, pages/_join.scss */
.join-containers .monitor img, .join-containers .monitor iframe {
  position: relative;
  top: 41px;
  width: 574px;
  height: 352px;
}
/* line 23, pages/_join.scss */
.join-containers .monitor .shadow {
  background: url(../img/laptop-shine.png) no-repeat;
  position: absolute;
  top: 4px;
  right: 140px;
  width: 256px;
  height: 452px;
  z-index: 2;
  background-size: 90%;
}
/* line 34, pages/_join.scss */
.join-containers .btn-primary {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 36px;
  color: #fff;
  height: 95px;
  width: 520px;
  transition: all 0.1s linear;
  background-color: #00cdda;
  box-shadow: inset 0px -10px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0px;
  font-weight: bold;
  left: 50%;
  margin-left: -260px;
}
/* line 49, pages/_join.scss */
.join-containers .btn-primary:hover {
  box-shadow: none;
  height: 85px;
}
/* line 54, pages/_join.scss */
.join-containers video {
  height: 451px;
}

/* line 59, pages/_join.scss */
#join-step-2 .buttons {
  position: absolute;
  left: 0;
  margin-top: 77px;
  z-index: 3;
}
/* line 64, pages/_join.scss */
#join-step-2 .buttons .btn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 10px;
  height: 100px;
  width: 100px;
  display: block;
  border: 5px solid;
  box-shadow: inset 5px -5px 21px rgba(0, 0, 0, 0.5);
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: #ddd;
  border-bottom-color: #ddd;
  transition: all 0.2s linear;
}
/* line 77, pages/_join.scss */
#join-step-2 .buttons .btn .fa {
  display: block;
  font-size: 39px;
  margin-top: 16px;
}
/* line 82, pages/_join.scss */
#join-step-2 .buttons .btn.active {
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: none;
}
/* line 86, pages/_join.scss */
#join-step-2 .buttons .btn#btn-basic {
  background-color: #6ea524;
}
/* line 87, pages/_join.scss */
#join-step-2 .buttons .btn#btn-premier {
  background-color: #137e86;
}
/* line 88, pages/_join.scss */
#join-step-2 .buttons .btn#btn-investor {
  background-color: #e3b60d;
}
/* line 89, pages/_join.scss */
#join-step-2 .buttons .btn#btn-join {
  background-color: #08a0d2;
}
/* line 90, pages/_join.scss */
#join-step-2 .buttons .btn:hover {
  background-color: #efefef !important;
  box-shadow: none;
  border-color: #aaa;
  color: #aaa;
}

/* line 100, pages/_join.scss */
#join-step-3 {
  text-align: center;
}
/* line 102, pages/_join.scss */
#join-step-3 .form1 {
  position: relative;
  text-align: left;
  width: 400px;
  margin: auto;
  padding-bottom: 60px;
}
/* line 108, pages/_join.scss */
#join-step-3 .form1 .has-error {
  color: red;
}
/* line 111, pages/_join.scss */
#join-step-3 .form1 .has-error label small {
  position: absolute;
  right: 0;
}
/* line 117, pages/_join.scss */
#join-step-3 .form1 .btn-primary {
  left: initial;
  margin: 0;
  width: 100%;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 66px;
  padding-top: 0;
}
/* line 126, pages/_join.scss */
#join-step-3 .form1 .btn-primary:hover {
  box-shadow: none;
  height: 56px;
  padding-top: 10px;
}

/* line 135, pages/_join.scss */
#join-wrapper {
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: 800px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

/* line 144, pages/_join.scss */
.join-containers {
  opacity: 0;
  z-index: -1;
  position: absolute;
  transition: all 0.5s linear;
  left: 50%;
}
/* line 150, pages/_join.scss */
.join-containers.active {
  z-index: 1;
  opacity: 1;
}
/* line 154, pages/_join.scss */
.join-containers.inactive {
  opacity: 0;
  z-index: -1;
}

/* line 159, pages/_join.scss */
#join-step-1 {
  margin-left: -496px;
  opacity: 0;
}
/* line 162, pages/_join.scss */
#join-step-1.active {
  top: 0px;
  opacity: 1;
}

/* line 167, pages/_join.scss */
#join-step-2 {
  left: initial;
  margin-top: 5px;
}
/* line 170, pages/_join.scss */
#join-step-2 h2 {
  font-size: 19px;
}
/* line 173, pages/_join.scss */
#join-step-2.active {
  position: relative;
}

/* line 179, pages/_join.scss */
#join-step-3 {
  top: 200px;
  left: 0;
}
/* line 182, pages/_join.scss */
#join-step-3.active {
  top: 100px;
  left: 0;
  position: relative;
  padding-bottom: 200px;
}
/* line 188, pages/_join.scss */
#join-step-3.inactive {
  left: -100px;
  top: 0;
}

/* .fp-table,.fp-tableCell{
	height: inherit !important;
}
#section1{
	min-height: 1000px;
} */
/* line 8, pages/_home.scss */
.hero-full {
  overflow: hidden;
  min-height: 600px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
/* line 13, pages/_home.scss */
.hero-full .filter {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 600px;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transition: all 0.2s linear;
}
/* line 24, pages/_home.scss */
.hero-full .container {
  position: relative;
  transition: all 0.2s linear;
  z-index: 2;
  width: 1100px;
}
/* line 29, pages/_home.scss */
.hero-full .container img, .hero-full .container h1, .hero-full .container .sub-heading {
  opacity: 0;
}
/* line 30, pages/_home.scss */
.hero-full .container button {
  background-color: #2980b9;
}
/* line 35, pages/_home.scss */
.hero-full video {
  width: 100%;
  position: absolute;
  left: 0;
}
/* line 40, pages/_home.scss */
.hero-full.has-skin {
  overflow: visible;
}
/* line 42, pages/_home.scss */
.hero-full.has-skin video {
  opacity: 0;
}
/* line 46, pages/_home.scss */
.hero-full.focus .filter {
  background: rgba(19, 126, 134, 0.7);
}
/* line 51, pages/_home.scss */
.hero-full.focus .container img, .hero-full.focus .container h1, .hero-full.focus .container .sub-heading {
  opacity: 1;
}
/* line 54, pages/_home.scss */
.hero-full.focus .container button {
  background-color: transparent;
}
/* line 59, pages/_home.scss */
.hero-full #btn-navtoggle {
  display: none;
}

/* line 62, pages/_home.scss */
#about-us #founders {
  width: 900px;
  text-align: center;
  margin: 30px auto;
}
/* line 66, pages/_home.scss */
#about-us #founders .author h3, #about-us #founders .author h4, #about-us #founders .author p {
  text-align: left !important;
  padding: 0 !important;
}
/* line 71, pages/_home.scss */
#about-us #founders .author {
  margin-bottom: 90px;
}
/* line 73, pages/_home.scss */
#about-us #founders .author h4 {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 20px;
}
/* line 79, pages/_home.scss */
#about-us #founders .author h3 {
  margin-top: 0;
}
/* line 83, pages/_home.scss */
#about-us #founders .author .right h3, #about-us #founders .author .right h4, #about-us #founders .author .right p {
  text-align: right !important;
}
/* line 88, pages/_home.scss */
#about-us #founders .author p {
  font-size: 14px !important;
}
/* line 91, pages/_home.scss */
#about-us #founders .author * {
  color: #fff;
}
/* line 95, pages/_home.scss */
#about-us #founders img {
  width: 80%;
  border: 5px solid #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 101, pages/_home.scss */
#about-us #mission_vision {
  text-align: justify;
  width: 1000px;
  margin: auto;
}
/* line 105, pages/_home.scss */
#about-us #mission_vision * {
  list-style: none;
  padding: 10px;
  color: #fff;
  text-align: left;
}
/* line 111, pages/_home.scss */
#about-us #mission_vision li {
  padding: 0;
  margin: 10px 0px;
  font-size: 16px;
}

/* line 118, pages/_home.scss */
#service {
  text-align: center;
}
/* line 120, pages/_home.scss */
#service .fa {
  font-size: 100px;
}

/* line 125, pages/_home.scss */
.hero-full h1 {
  margin-top: -25px;
}
/* line 128, pages/_home.scss */
.hero-full img.img-circle {
  height: 290px;
  margin-top: -200px;
  margin-bottom: -8px;
}
/* line 133, pages/_home.scss */
.hero-full #menu {
  display: none;
  padding: 0px;
}
/* line 137, pages/_home.scss */
.hero-full #menu li {
  list-style: none;
  display: inline-block;
}
/* line 141, pages/_home.scss */
.hero-full #menu img {
  display: none;
}
/* line 144, pages/_home.scss */
.hero-full #menu.has-skin {
  -webkit-transition: background-color 300ms ease-out 0.1s;
  -moz-transition: background-color 300ms ease-out 0.1s;
  -o-transition: background-color 300ms ease-out 0.1s;
  transition: background-color 300ms ease-out 0.1s;
  background: rgba(225, 225, 225, 0.9);
  position: fixed !important;
  top: 0px !important;
  margin: 0px;
  z-index: 100;
}
/* line 156, pages/_home.scss */
.hero-full #menu.has-skin li {
  padding: 20px 10px;
}
/* line 159, pages/_home.scss */
.hero-full #menu.has-skin a {
  color: #000;
  font-size: 17px;
  padding: 20px 10px;
  text-shadow: none;
}
/* line 165, pages/_home.scss */
.hero-full #menu.has-skin img {
  display: block;
  max-width: 75px;
  position: absolute;
  left: 0px;
  margin-left: 10px;
}
/* line 174, pages/_home.scss */
.hero-full #btn_get-started, .hero-full .menu {
  position: absolute !important;
  top: 50% !important;
  margin-top: 235px;
}
/* line 179, pages/_home.scss */
.hero-full #btn_get-started {
  margin-left: -105px;
}
/* line 182, pages/_home.scss */
.hero-full .btn {
  font-size: 16px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  margin: 0px 10px;
}
/* line 189, pages/_home.scss */
.hero-full .menu {
  left: 0px;
  right: 0px;
  margin-left: 0px;
}

/* line 195, pages/_home.scss */
.block:not(.hero-full) {
  /* WIDE DESKTOP */
}
/* line 196, pages/_home.scss */
.block:not(.hero-full) h1 {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/* line 201, pages/_home.scss */
.block:not(.hero-full).about-us, .block:not(.hero-full).opportunity, .block:not(.hero-full).investor, .block:not(.hero-full).support, .block:not(.hero-full).product {
  padding: 70px 0px;
}
/* line 204, pages/_home.scss */
.block:not(.hero-full).about-us p, .block:not(.hero-full).opportunity p, .block:not(.hero-full).investor p, .block:not(.hero-full).support p, .block:not(.hero-full).product p {
  text-align: center;
  font-size: 18px !important;
}
/* line 209, pages/_home.scss */
.block:not(.hero-full).about-us {
  background: #2980b9;
  position: relative;
}
/* line 212, pages/_home.scss */
.block:not(.hero-full).about-us p, .block:not(.hero-full).about-us h1 {
  color: #fff;
}
/* line 213, pages/_home.scss */
.block:not(.hero-full).about-us p {
  line-height: 26px;
  /* color: #2e3644; */
}
/* line 219, pages/_home.scss */
.block:not(.hero-full).product .row {
  padding: 20px 0px;
  margin-bottom: 20px;
}
/* line 223, pages/_home.scss */
.block:not(.hero-full).product .col-md-12 {
  text-align: center;
}
/* line 226, pages/_home.scss */
.block:not(.hero-full).product .col-md-6 {
  text-align: left;
}
/* line 229, pages/_home.scss */
.block:not(.hero-full).product .col-md-6 p, .block:not(.hero-full).product .col-md-6 img {
  margin: 0px 35px;
  font-size: 16px !important;
}
/* line 231, pages/_home.scss */
.block:not(.hero-full).product .col-md-6:nth-child(2n+1) {
  text-align: right;
}
/* line 234, pages/_home.scss */
.block:not(.hero-full).product .col-md-6:nth-child(2n+1) p {
  padding-right: 0px;
}
/* line 238, pages/_home.scss */
.block:not(.hero-full).service {
  padding: 20px 0px 50px;
  background: #3498db;
}
/* line 242, pages/_home.scss */
.block:not(.hero-full).service p, .block:not(.hero-full).service h1, .block:not(.hero-full).service h4 {
  color: #fff;
}
/* line 244, pages/_home.scss */
.block:not(.hero-full).service h1 {
  margin: 70px 0px;
}
/* line 247, pages/_home.scss */
.block:not(.hero-full).service h4 {
  font-weight: bold;
}
/* line 250, pages/_home.scss */
.block:not(.hero-full).service img {
  /* width: 185px;
  height: 180px; */
  max-width: 125px;
}
/* line 255, pages/_home.scss */
.block:not(.hero-full).service p {
  font-size: 16px;
}
/* line 258, pages/_home.scss */
.block:not(.hero-full).service .wrap {
  max-width: 295px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  /* line 268, pages/_home.scss */
  .block:not(.hero-full).about-us p {
    padding: 0px 100px;
  }
  /* line 273, pages/_home.scss */
  .block:not(.hero-full).product .row {
    display: table;
  }
  /* line 276, pages/_home.scss */
  .block:not(.hero-full).product .col-md-6 {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
  /* line 281, pages/_home.scss */
  .block:not(.hero-full).product .col-md-6 p {
    padding-right: 20%;
    text-align: left;
  }
  /* line 284, pages/_home.scss */
  .block:not(.hero-full).product .col-md-6:nth-child(2n+1) p {
    padding-left: 20%;
    text-align: right;
  }
}

/* line 291, pages/_home.scss */
#member_login .modal-dialog {
  width: 415px;
}
/* line 294, pages/_home.scss */
#member_login .modal-content {
  border-radius: 0px;
}

/* line 302, pages/_home.scss */
.firefox .hero-full img.img-circle {
  margin-top: 0;
}

@media (max-width: 640px) {
  /* line 308, pages/_home.scss */
  #homepage.hero-full {
    min-height: 600px;
  }
  /* line 311, pages/_home.scss */
  #homepage.hero-full #btn_get-started {
    margin-top: 130px;
  }
  /* line 315, pages/_home.scss */
  #homepage.hero-full.locked .sub-heading {
    opacity: 0 !important;
  }

  /* line 321, pages/_home.scss */
  #about-us #mission_vision {
    width: 100%;
  }
  /* line 324, pages/_home.scss */
  #about-us #founders {
    width: 100%;
  }
  /* line 327, pages/_home.scss */
  #about-us #founders .author img, #about-us #founders .author .right img {
    margin: auto;
  }
  /* line 330, pages/_home.scss */
  #about-us #founders .author h3, #about-us #founders .author h4, #about-us #founders .author p, #about-us #founders .author .right h3, #about-us #founders .author .right h4, #about-us #founders .author .right p {
    text-align: center !important;
  }

  /* line 336, pages/_home.scss */
  #product img {
    max-width: 100%;
    margin: 20px auto;
  }
}
/* line 1, pages/_investors.scss */
#investors {
  margin-top: 100px;
}
/* line 3, pages/_investors.scss */
#investors .container {
  width: 1000px;
}
/* line 7, pages/_investors.scss */
#investors .row img {
  height: 250px;
  width: 250px;
  border: 10px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 13, pages/_investors.scss */
#investors .row .investor {
  text-align: center;
  margin-bottom: 100px;
}
/* line 18, pages/_investors.scss */
#investors .hero-full {
  height: 0px !important;
  min-height: initial;
}

@media (max-width: 640px) {
  /* line 27, pages/_investors.scss */
  #investors .container {
    width: auto;
  }
}
/* line 1, pages/_legalities.scss */
#legalities {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}
/* line 6, pages/_legalities.scss */
#legalities .hero-full {
  height: 0px !important;
  min-height: initial;
  margin-bottom: 50px;
}

/* line 2, pages/_support.scss */
#support .hero-full {
  height: 0px !important;
  min-height: initial;
}

/* line 16, front-site.scss */
#footer {
  text-align: center;
  padding: 40px 0;
  background: #127E85;
  color: #fff;
}
/* line 21, front-site.scss */
#footer a {
  margin: 0 15px;
  color: #fff;
  display: inline-block;
}

/* line 3, assets/_front-responsive.scss */
.safari .hero-full img.img-circle {
  margin-top: 0;
}

@media (max-width: 320px) {
  /* line 13, assets/_front-responsive.scss */
  #join-wrapper #join-step-1 .monitor {
    height: auto;
    background: none;
  }
  /* line 16, assets/_front-responsive.scss */
  #join-wrapper #join-step-1 .monitor video {
    width: 420px !important;
  }
  /* line 22, assets/_front-responsive.scss */
  #join-wrapper .btn-primary {
    height: auto;
    width: auto;
    box-shadow: none;
    font-size: 20px;
    position: relative;
    margin: 20px;
    left: 0;
    display: inline-block;
    padding: 10px 30px;
  }
}
@media (max-width: 640px) {
  /* line 39, assets/_front-responsive.scss */
  .hero-full #video-moment-0 {
    display: none;
  }
  /* line 40, assets/_front-responsive.scss */
  .hero-full h1 {
    font-size: 27px;
  }
  /* line 43, assets/_front-responsive.scss */
  .hero-full .container {
    width: 100%;
  }
  /* line 45, assets/_front-responsive.scss */
  .hero-full .container * {
    opacity: 1 !important;
  }
  /* line 47, assets/_front-responsive.scss */
  .hero-full #menu {
    height: 77px;
    margin-top: 150px;
  }
  /* line 51, assets/_front-responsive.scss */
  .hero-full #menu li {
    margin: 5px;
    width: 44%;
  }
  /* line 55, assets/_front-responsive.scss */
  .hero-full #menu li a {
    width: 100%;
    margin: 0;
  }
  /* line 60, assets/_front-responsive.scss */
  .hero-full #menu.has-skin {
    transition: all 0.2s linear;
  }
  /* line 62, assets/_front-responsive.scss */
  .hero-full #menu.has-skin img {
    display: none !important;
  }
  /* line 63, assets/_front-responsive.scss */
  .hero-full #menu.has-skin #btn-navtoggle {
    display: block;
    font-size: 40px;
    position: relative;
    right: 0;
    padding: 10px;
    transition: all 0.2s linear;
  }
  /* line 70, assets/_front-responsive.scss */
  .hero-full #menu.has-skin #btn-navtoggle:hover {
    background-color: #fff;
  }
  /* line 74, assets/_front-responsive.scss */
  .hero-full #menu.has-skin li {
    height: 0;
    overflow: hidden;
    transition: all 0.2s linear;
    display: block;
    padding: 0;
    width: 100%;
    margin: 0;
  }
  /* line 82, assets/_front-responsive.scss */
  .hero-full #menu.has-skin li a {
    padding: 10px;
    display: block;
  }
  /* line 87, assets/_front-responsive.scss */
  .hero-full #menu.has-skin.mobile-show {
    background: #333;
    height: 430px;
  }
  /* line 90, assets/_front-responsive.scss */
  .hero-full #menu.has-skin.mobile-show #btn-navtoggle {
    color: #3498DB;
  }
  /* line 93, assets/_front-responsive.scss */
  .hero-full #menu.has-skin.mobile-show li {
    height: 44px;
  }
  /* line 95, assets/_front-responsive.scss */
  .hero-full #menu.has-skin.mobile-show li a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s linear;
  }
  /* line 101, assets/_front-responsive.scss */
  .hero-full #menu.has-skin.mobile-show li a:hover {
    text-decoration: none;
    background: #3498DB;
  }
  /* line 110, assets/_front-responsive.scss */
  .hero-full .sub-heading {
    letter-spacing: 0.2em;
  }

  /* line 117, assets/_front-responsive.scss */
  .safari .hero-full img.img-circle, .ipad .hero-full img.img-circle {
    margin-top: 0;
  }
}
@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  /* line 125, assets/_front-responsive.scss */
  .hero-full img.img-circle {
    margin-top: 0;
  }

  /* line 128, assets/_front-responsive.scss */
  #homepage.hero-full #btn_get-started,
  .hero-full #btn_get-started, .hero-full .menu {
    margin-top: 285px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
