@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/
}

.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}

.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}

.datepicker > div {
  display: none;
}

.datepicker table {
  width: 100%;
  margin: 0;
}

.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}

.datepicker td.day.disabled {
  color: #eeeeee;
}

.datepicker td.old,
.datepicker td.new {
  color: #999999;
}

.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}

.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.datepicker td span:hover {
  background: #eeeeee;
}

.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}

.datepicker td span.old {
  color: #999999;
}

.datepicker th.switch {
  width: 145px;
}

.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}

.datepicker thead tr:first-child th {
  cursor: pointer;
}

.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vcenter {
  display: flex;
  align-items: center;
}

html, body {
  height: 100%;
}

.main {
  float: left;
  width: 80%;
  padding: 20px;
  margin-left: 20px;
  min-height: 400px;
}

body {
  background: #eeeeee url(../img/bg.jpg);
  font-family: 'Lato', sans-serif;
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;
}

hr {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}

.btn-toggle {
  float: left;
  background: #cfcfcf;
  width: 220px;
  height: 50px;
  font-size: 19px;
  color: #333;
}
.btn-toggle.active {
  background: #fff;
  position: relative;
}
.btn-toggle.active:first-child:after {
  content: ' ';
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  right: -11px;
  top: 0;
}
.btn-toggle.active:last-child:before {
  content: ' ';
  -ms-transform: rotate(7deg);
  /* IE 9 */
  -webkit-transform: rotate(7deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  background: url(../img/button-shadow.png) no-repeat;
  width: 11px;
  height: 50px;
  position: absolute;
  left: -11px;
  top: 0;
}
.btn-toggle:hover {
  text-decoration: none;
}
.btn-toggle .fa {
  margin-right: 12px;
}

.bg2 {
  background-color: #1abc9c;
  display: block;
}

.modal-backdrop.in {
  opacity: .7;
}

.modal {
  display: none;
}

#loader_modal .modal-dialog {
  width: 70px;
  height: 100%;
}

#loader_modal .modal-dialog img {
  opacity: 0.8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
}

input.disabled,
select.disabled,
textarea.disabled {
  background: #EEEEEE;
  cursor: not-allowed;
}

/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:73775db11f72cd41e0e1b532b03ff4e2:8e9c327ef4df75ada8eee01ef9c9bd97:2b0e1088fe4765f12231edf40730b031$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/
.sprite {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("../img/admin-sprites.png");
}

.avatar-default {
  width: 106px;
  height: 112px;
  background-position: -2px -73px;
}

.avatar-default-sm {
  width: 65px;
  height: 69px;
  background-position: -2px -2px;
}

.blue-arrow {
  width: 20px;
  height: 13px;
  background-position: -2px -187px;
}

.blue-circle-small {
  width: 15px;
  height: 15px;
  background-position: -24px -187px;
}

.blue-collar-small {
  width: 8px;
  height: 20px;
  background-position: -41px -187px;
}

.grey-collar-small {
  width: 8px;
  height: 20px;
  background-position: -51px -187px;
}

.orange-circle-small {
  width: 15px;
  height: 15px;
  background-position: -61px -187px;
}

.red-arrow {
  width: 20px;
  height: 13px;
  background-position: -78px -187px;
}

.yellow-collar-small {
  width: 8px;
  height: 20px;
  background-position: -100px -187px;
}

#dashboard {
  margin-top: 30px;
  line-height: 1.7;
}
#dashboard h1, #dashboard h2, #dashboard h3, #dashboard h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
#dashboard .content {
  background: #fff;
  padding: 20px;
}
#dashboard .content .section ul {
  margin-left: 20px;
}
#dashboard .side {
  padding: 20px;
  position: relative;
}
#dashboard .side .section {
  font-size: 13px;
}
#dashboard #top .content .row {
  text-align: center;
}
#dashboard #top .content .row .value {
  font-size: 30px;
  font-weight: bold;
}
#dashboard #top .side {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: -20px;
  background: #ccc;
}
#dashboard #top .side a {
  width: 80%;
  margin: auto;
  display: block;
}
#dashboard .comingsoon {
  font-size: 14px;
  color: #aaa;
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: #eee;
  border: 1px solid #fff;
}
#dashboard .section {
  margin: 20px;
}
#dashboard #slideshow-section {
  margin: 20px;
  position: relative;
}
#dashboard #slideshow-section * {
  width: 100%;
}
#dashboard #newsupdates-section .entry {
  border-bottom: 1px solid #fff;
  box-shadow: 0px 1px 0px #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#geneology {
  position: relative;
  overflow: hidden;
  height: 100%;
}
#geneology #geneology-mode {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}
#geneology #graphical {
  top: 20px;
  position: relative;
}
#geneology #graphical #graphical-data {
  z-index: 1;
  position: relative;
  width: 900px;
  float: left;
}
#geneology #graphical #graphical-data .user {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  height: 125px;
  width: 125px;
  margin: auto;
  background: #B7B7B7;
  transition: all 0.2s linear;
  overflow: hidden;
  display: inline-block;
  border: 6px solid transparent;
}
#geneology #graphical #graphical-data .user.referral-direct {
  border-color: #00a8ff;
}
#geneology #graphical #graphical-data .user.referral-indirect {
  border-color: #FF9600;
}
#geneology #graphical #graphical-data .user:hover {
  border-color: #fff;
}
#geneology #graphical #graphical-data .user:hover .popup-control {
  z-index: 2;
  opacity: 1;
}
#geneology #graphical #graphical-data .user:hover .premier-filter {
  opacity: 0;
}
#geneology #graphical #graphical-data .user .premier-filter {
  background: rgba(19, 71, 139, 0.6);
  height: 113px;
  width: 112px;
  margin: auto;
  position: relative;
  display: block;
  z-index: 2;
  top: -18px;
  transition: all 0.2s linear;
  left: -4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#geneology #graphical #graphical-data .user .sprite {
  vertical-align: bottom;
  left: 0px;
  bottom: -20px;
  position: relative;
  overflow: visible;
}
#geneology #graphical #graphical-data .user .popup-control {
  z-index: -1;
  transition: all 0.2s linear;
  opacity: 0;
  position: absolute;
  left: -30px;
  text-align: right;
  top: 0;
}
#geneology #graphical #graphical-data .user .popup-control a {
  display: block;
  margin: 10px 0;
}
#geneology #graphical #graphical-data .user .avatar-default-sm .premier-filter {
  width: 73px;
  height: 73px;
  top: -20px;
}
#geneology #graphical #graphical-data .stage {
  text-align: center;
}
#geneology #graphical #graphical-data .stage .left, #geneology #graphical #graphical-data .stage .right {
  display: inline-block;
  margin: 30px 0px;
  position: relative;
}
#geneology #graphical #graphical-data .stage .connector {
  width: 100%;
}
#geneology #graphical #graphical-data .stage .connector .left, #geneology #graphical #graphical-data .stage .connector .right {
  margin: 0;
  padding: 30px 0px;
}
#geneology #graphical #graphical-data .stage .connector span {
  position: absolute;
}
#geneology #graphical #graphical-data .stage .connector .l1, #geneology #graphical #graphical-data .stage .connector .l3 {
  width: 1px;
  border-left: 1px solid #cecece;
  top: 0;
}
#geneology #graphical #graphical-data .stage .connector .l2 {
  height: 1px;
  border-top: 1px solid #cecece;
}
#geneology #graphical #graphical-data .stage.stage-1 > .user {
  border-color: #88c7ff;
}
#geneology #graphical #graphical-data .stage.stage-1 .popup-control {
  margin-left: -120px;
  left: auto;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector {
  position: absolute;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .left {
  position: relative;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l1 {
  height: 20px;
  right: 0;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l2 {
  width: 210px;
  top: 20px;
  right: 0;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .left .l3 {
  height: 10px;
  right: 210px;
  top: 20px;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .right {
  position: relative;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l1 {
  height: 20px;
  left: 0;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l2 {
  width: 210px;
  top: 20px;
  left: 0;
}
#geneology #graphical #graphical-data .stage.stage-1 .connector .right .l3 {
  height: 10px;
  left: 210px;
  top: 20px;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector {
  position: absolute;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .left {
  position: relative;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l1 {
  height: 11px;
  right: 0;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l2 {
  width: 100px;
  top: 10px;
  right: 0;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .left .l3 {
  height: 20px;
  right: 100px;
  top: 10px;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .right {
  position: relative;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l1 {
  height: 11px;
  left: 0;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l2 {
  width: 100px;
  top: 10px;
  left: 0;
}
#geneology #graphical #graphical-data .stage.stage-2 .connector .right .l3 {
  height: 20px;
  left: 100px;
  top: 10px;
}
#geneology #graphical #graphical-data .stage.stage-3 .user {
  width: 84px;
  height: 84px;
}
#geneology #graphical #graphical-data .stage.stage-3 .left, #geneology #graphical #graphical-data .stage.stage-3 .right {
  margin: 30px 0px;
}
#geneology #graphical #graphical-data .stage.stage-3 .popup-control {
  left: -40px;
  margin-left: 0;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector {
  position: absolute;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .left {
  margin: 0;
  position: relative;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .left .l1 {
  height: 11px;
  right: 0;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .left .l2 {
  width: 50px;
  top: 10px;
  right: 0;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .left .l3 {
  height: 20px;
  right: 50px;
  top: 10px;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .right {
  margin: 0;
  position: relative;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .right .l1 {
  height: 11px;
  left: 0;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .right .l2 {
  width: 50px;
  top: 10px;
  left: 0;
}
#geneology #graphical #graphical-data .stage.stage-3 .connector .right .l3 {
  height: 20px;
  left: 50px;
  top: 10px;
}
#geneology #graphical #graphical-data .stage.stage-4 .left, #geneology #graphical #graphical-data .stage.stage-4 .right {
  margin: 30px 10px;
}
#geneology #graphical #graphical-data .stage.stage-4 .popup-control {
  left: 80px;
  margin-left: 0;
}
#geneology #graphical #legend {
  color: #fff;
  background: rgba(247, 0, 66, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px;
  position: absolute;
  right: 0;
  font-size: 14px;
  z-index: 2;
}
#geneology #graphical #legend .sprite {
  position: absolute;
  left: -20px;
}
#geneology #graphical #legend strong {
  text-transform: uppercase;
  font-size: 15px;
}
#geneology #graphical #legend li {
  list-style: none;
  position: relative;
  padding: 6px;
}
#geneology #graphical #legend ul {
  margin-left: 20px;
  margin-bottom: 0;
  padding-left: 0;
}
#geneology #textual {
  top: 100px;
}
#geneology #textual .buttons {
  margin-bottom: 20px;
}
#geneology #textual #textual-data {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #ccc;
  background: #fff;
}

#geneology * {
  transition: all 0.7s linear;
}
#geneology #graphical {
  opacity: 0;
  width: 100%;
  top: 20px;
  left: -110%;
}
#geneology #graphical.active {
  opacity: 1;
  left: 0%;
}
#geneology #textual {
  position: absolute;
  opacity: 0;
  width: 98%;
  right: -100%;
}
#geneology #textual.active {
  opacity: 1;
  right: 0%;
}

#ewallet #transact-form {
  width: 400px;
  position: relative;
  height: 400px;
  overflow: hidden;
}
#ewallet #transact-form .tform {
  position: absolute;
  top: 0;
  background: #fff;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: all 0.3s linear;
  padding: 20px;
}
#ewallet #transact-form .tform#step1 {
  opacity: 0;
  z-index: 1;
  top: 100px;
}
#ewallet #transact-form .tform#step1.active {
  opacity: 1;
  z-index: 2;
  top: 0;
}
#ewallet #transact-form .tform#step1 .btn {
  display: block;
  text-align: left;
  margin: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
#ewallet #transact-form .tform#step1 .btn .fa {
  width: 30px;
  text-align: center;
  margin-right: 20px;
}
#ewallet #transact-form .tform#step2-a {
  top: -100px;
}
#ewallet #transact-form .tform#step2-a.active {
  opacity: 1;
  top: 0;
  z-index: 2;
}
#ewallet #transact-form .tform#step2-b {
  left: -100px;
}
#ewallet #transact-form .tform#step2-b.active {
  opacity: 1;
  left: 0;
  z-index: 2;
}
#ewallet #transact-form .tform#step2-c {
  right: -100px;
}
#ewallet #transact-form .tform#step2-c.active {
  opacity: 1;
  right: 0;
  z-index: 2;
}
#ewallet #balance-summary {
  width: 400px;
}

#library {
  width: 1300px;
}
#library #menu {
  position: relative;
  z-index: 2;
}
#library #menu li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
#library #menu li a {
  width: 200px;
}
#library #menu li ul {
  opacity: 0;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 100%;
  height: 200px;
  transition: all 0.2s linear;
}
#library #menu li ul.active {
  opacity: 1;
}
#library .contents .item {
  display: inline-block;
  margin: 10px;
  position: relative;
  background-color: transparent;
}
#library .contents .item a {
  position: absolute;
  width: 100%;
  transition: all 0.2s linear;
  height: 100%;
  background-color: transparent;
}
#library .contents .item a:hover {
  background-color: rgba(128, 0, 0, 0.8);
}
#library .contents .item .favorite {
  position: absolute;
  width: 25px;
  height: 60px;
  background: rgba(255, 165, 0, 0.9);
  right: 0;
  text-align: center;
  color: #fff;
}

#product_detail_modal .product-image {
  float: left;
  margin-right: 10px;
}

#myaccount {
  margin: auto;
  position: relative;
}
#myaccount #main-buttons {
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: inline-block;
}
#myaccount #main-buttons #btn-payment {
  background-color: #1a56a5;
  color: #fff;
}
#myaccount .wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
}
#myaccount #personal-info-cont {
  position: absolute;
  left: -120%;
  width: 100%;
}
#myaccount #personal-info-cont.active {
  left: 0;
}
#myaccount #security-cont {
  position: absolute;
  right: -120%;
  top: 0;
  width: 100%;
}
#myaccount #security-cont.active {
  right: 0;
}
#myaccount #activation-cont {
  position: absolute;
  right: -120%;
  top: 0;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
#myaccount #activation-cont.active {
  right: 0;
}
#myaccount #activation-cont h2 {
  text-transform: uppercase;
  color: red;
  font-weight: 900;
}
#myaccount #payment-cont {
  position: absolute;
  right: -95%;
  top: 0;
  width: 100%;
  text-align: center;
}
#myaccount #payment-cont #tblpaymenttrans {
  background: #fff;
  width: 80%;
  margin: 10px auto 20px;
}
#myaccount #payment-cont #tblpaymenttrans small {
  display: block;
}
#myaccount #payment-cont #tblpaymenttrans .onprocess strong {
  color: green;
}
#myaccount #payment-cont #steps {
  text-align: left;
  width: 55%;
  margin: 20px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}
#myaccount #payment-cont #steps .step {
  display: none;
}
#myaccount #payment-cont #steps .step#step1 {
  display: block;
}
#myaccount #payment-cont #steps .step h3 {
  background: #13478b;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}
#myaccount #payment-cont #steps .step#step4 div {
  display: none;
}
#myaccount #payment-cont #steps .step#step5 .bank, #myaccount #payment-cont #steps .step#step5 .wire {
  display: none;
}
#myaccount #payment-cont #steps .step#step6 {
  text-align: center;
}
#myaccount #payment-cont #steps .step#step6 #payment_picture_proof_prev {
  max-height: 250px;
  margin-top: 10px;
}
#myaccount #payment-cont.active {
  right: 0;
}
#myaccount .user-avatar {
  text-align: center;
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#myaccount .user-avatar h3 {
  margin: 0;
}
#myaccount .user-avatar img {
  margin: 10px;
}
#myaccount .user-avatar img.sponsor_avatar {
  width: 50%;
}
#myaccount .user-avatar .sponsor-info * {
  display: block;
}
#myaccount #btn-submit {
  width: 80%;
  font-size: 30px;
  margin: 20px auto;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#myaccount .contents {
  transition: all 0.7s linear;
  opacity: 0;
}
#myaccount .contents.active {
  opacity: 1;
}

#messages {
  margin: auto;
}
#messages ul {
  position: relative;
}
#messages #btn-compose-message {
  position: absolute;
  right: 0;
  top: 0;
}
#messages #compose_message_modal .modal-dialog {
  width: 350px;
}

#support {
  width: 84%;
  height: 100%;
}

#profile-wrapper #profile {
  background: #fefefe;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px #aaa;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}
#profile-wrapper #profile .top {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
#profile-wrapper #profile .top #user-details img {
  width: 200px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 5px solid #fff;
  box-shadow: 0px 1px 4px #333;
  margin-bottom: 20px;
}
#profile-wrapper #profile .top #network {
  margin-left: 20px;
  float: left;
}
#profile-wrapper #profile .top #network #user-name {
  margin-top: 0;
}
#profile-wrapper #profile .top #network hr {
  margin: 12px 0;
}
#profile-wrapper #profile .top #network .avatar {
  float: left;
  background: #fff;
  border: 1px solid #aaa;
  padding: 10px;
  margin-right: 10px;
}
#profile-wrapper #profile .top #network .avatar .ribbon {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}
#profile-wrapper #profile .below .sidebar {
  border-right: 1px solid #ccc;
  float: left;
  width: 200px;
  margin-right: 20px;
}
#profile-wrapper #profile .below .content {
  float: left;
  width: 550px;
}
#profile-wrapper #profile .below .content #comments .comment .comment-meta {
  margin-bottom: 10px;
}
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  float: left;
}
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-name {
  font-weight: bold;
  margin-right: 30px;
}
#profile-wrapper #profile .below .content #comments .comment .comment-meta .comment-date {
  color: #aaa;
  font-size: 13px;
}
#profile-wrapper #profile .below .content #comments .comment .comment-body {
  border-top: 1px solid #ccc;
  margin-left: 80px;
}
#profile-wrapper #profile .below .content #comments .comment .comment-body * {
  width: 100%;
}

#welcome {
  text-align: center;
  background: no-repeat center 98px rgba(237, 233, 223, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 1;
}
#welcome div {
  position: fixed;
  top: 130px;
  left: 50%;
  margin-left: -149px;
}
#welcome div h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

#header {
  background: #08a0d2;
  height: 98px;
  position: relative;
  z-index: 2;
}
#header #branding {
  width: 250px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
  position: relative;
  float: left;
  border-bottom: 1px solid #4897ff;
  height: 100%;
}
#header #branding .shadow {
  background: url("../img/logo-shadow.png") no-repeat;
  width: 250px;
  height: 17px;
  position: absolute;
  bottom: -17px;
  left: 0;
}
#header #branding img#site-logo {
  max-width: 75px;
}
#header .pull-right {
  height: 100%;
  color: #fff;
  font-size: 14px;
}
#header .pull-right .slogan {
  font-size: 30px;
  margin-right: 185px;
}
#header .pull-right #avatar {
  display: inline-block;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 59px;
  height: 59px;
  overflow: hidden;
  margin-right: 25px;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}
#header .pull-right #avatar:hover {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.6);
}
#header .pull-right #btn-logout {
  width: 84px;
  border-left: 1px solid #ac47b2;
  background: #f70042;
  height: 100%;
  margin-left: 23px;
  font-size: 35px;
  transition: all 0.2s linear;
  color: rgba(255, 255, 255, 0.5);
}
#header .pull-right #btn-logout:hover {
  text-decoration: none;
  color: #fff;
}

#sidebar {
  width: 250px;
  float: left;
  background-color: #13478b;
  padding-top: 42px;
  position: relative;
  padding-bottom: 20px;
}
#sidebar .extension {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #13478b;
  z-index: 1;
}
#sidebar ul {
  padding: 0;
  position: relative;
  z-index: 2;
}
#sidebar li {
  list-style: none;
  padding: 0;
}
#sidebar li a {
  padding: 15px 20px;
  display: block;
  transition: all 0.2s linear;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: #88c7ff;
  font-size: 13px;
}
#sidebar li a:hover {
  background-color: #1a56a5;
  text-decoration: none;
  color: #fff;
}
#sidebar li a .fa {
  width: 30px;
  text-align: center;
  font-size: 21px;
  margin-right: 20px;
  margin-left: 15px;
}

body.acctype-1 #sidebar {
  background-color: #6ea524;
}
body.acctype-1 #sidebar .extension {
  background-color: #6ea524;
}
body.acctype-1 #sidebar a {
  color: #fff;
  text-shadow: 1px 1px 2px #333;
}
body.acctype-1 #sidebar a:hover {
  background-color: #5c960d;
}
body.acctype-1 .btn-primary {
  background-color: #6ea524;
  border-color: #5f9b0f;
}

body.acctype-3 #sidebar {
  background-color: #fff;
}
body.acctype-3 #sidebar .extension {
  background-color: #fff;
}
body.acctype-3 #sidebar a {
  color: #333;
  font-size: 14px;
}
body.acctype-3 #sidebar a:hover {
  background-color: #999;
  color: #fff;
}
body.acctype-3 .btn-primary {
  background-color: #6ea524;
  border-color: #5f9b0f;
}

body.acctype-4 #sidebar {
  background-color: #e3b60d;
}
body.acctype-4 #sidebar .extension {
  background-color: #e3b60d;
}
body.acctype-4 #sidebar a {
  color: #333;
}
body.acctype-4 #sidebar a:hover {
  background-color: #fff;
}
body.acctype-4 a {
  color: #333;
}
body.acctype-4 .user-avatar a {
  width: 80%;
  margin: auto;
  font-weight: bold;
}
body.acctype-4 .btn-primary {
  background-color: #e3b60d;
  border-color: #e3b60d;
}
body.acctype-4 #myaccount #main-buttons #btn-payment {
  background-color: #e3b60d;
  color: #333;
}

body.acctype-5 #sidebar {
  background-color: #e3b60d;
}
body.acctype-5 #sidebar .extension {
  background-color: #e3b60d;
}
body.acctype-5 #sidebar a {
  color: #333;
}
body.acctype-5 #sidebar a:hover {
  background-color: #fff;
}
body.acctype-5 .btn-primary {
  background-color: #e3b60d;
  border-color: #e3b60d;
}
body.acctype-5 #myaccount #main-buttons #btn-payment {
  background-color: #e3b60d;
  color: #333;
}
