#header{
	background: #08a0d2;
	height: 98px;
	position: relative;
	z-index: 2;	
	#branding{
		width:250px;
		border-right: 1px solid rgba(0,0,0,0.3);
		box-shadow: 1px 0px 0px rgba(255,255,255,0.5);
		position: relative;
		float: left;
		border-bottom: 1px solid #4897ff;
		height: 100%;
		.shadow{
			background: url('../img/logo-shadow.png')  no-repeat;
			width:250px;
			height: 17px;
			position: absolute;
			bottom: -17px;
			left: 0;
		}
		img#site-logo{
			max-width: 75px;
		}
	}
	#headings{
		height: 98px;
		display: block;
		text-align: center;
		#site-title {
			width: 400px;
			margin-top: 30px;
		}
		#sub-title{
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 3px;
		}
	}
	.pull-right{
		height: 100%;
		color: #fff;
		font-size: 14px;
		width: 320px;
		
		.slogan{
			font-size: 30px;
			margin-right: 45px;			
			i.fa{
				font-size: 12px;
				position: relative;
				top: -15px;
			}
		}
		#avatar{
			display: inline-block;
			@include border-radius(50px);
			width:59px;
			height: 59px;
			overflow: hidden;
			margin-right: 25px;
			transition:all 0.2s linear;
			border: 1px solid transparent;
			&:hover{
				box-shadow: 0 0 100px rgba(255,255,255,0.6);
			}
			img{
				width: 100%;
				height: 100%;
			}
		}
		#btn-logout{
			width:84px;
			border-left: 1px solid #ac47b2;
			background: #f70042;
			height: 100%;			
			margin-left: 23px;
			font-size: 35px;
			transition:all 0.2s linear;
			color: rgba(255,255,255,0.5);		
			position: absolute;
			right: 0;	
			&:hover{text-decoration: none; color:#fff;}
		}
	}


}